{% extends "components/base.html" %}
{% load static %}
{% load access_tag %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Развитие
{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}



<div class="album bg-light">
    <div class="container">
        <div class="text-center">
            <h1 class="display-6 fst-italic">Развитие</h1>
            <small class="text-secondary">Доступные компоненты:</small>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">



            <div class="col">
                <div class="card shadow-sm">
                    {% access_tag 'idea' as access %}
                    {% if access %}
                        Вы видите объект 'idea' {{ access }}, т.к. вы есть в одной группе доступа с доступом к этому объекту
                    <a href="{% url 'idea' %}">
                        <img src="{% static "media/module/progress/idea/idea.jpg" %}" class="card-img-top" alt="id">
                    </a>
                    <div class="card-body">
                        <p class="card-text">Банк идей.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'idea' %}">Войти</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                            </div>
                            <small class="text-muted">общие идеи для роста</small>
                        </div>
                    </div>
                    {% else %}
                        Вы не видите объект 'idea' {{ access }}, т.к. вас нет ни в одной группе доступа с доступом к этому объекту
                    {% endif %}
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <a href="#">
                        <img src="{% static "media/module/progress/rational/rational.jpg" %}" class="card-img-top" alt="id">
                    </a>
                    <div class="card-body">
                        <p class="card-text">Рационализаторские предложения.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="#">Войти</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                            </div>
                            <small class="text-muted">небольшие улучшения</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <a href="#">
                        <img src="{% static "media/module/progress/project/project.png" %}" class="card-img-top" alt="id">
                    </a>
                    <div class="card-body">
                        <p class="card-text">Проектная деятельность.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="#">Войти</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                            </div>
                            <small class="text-muted">крупные нововведения</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}