{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}Создать новость{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
<a href="{% url 'news' %}" class="btn btn-light active" aria-current="page">Список новостей</a>
<a href="{% url 'news_create' %}" class="btn btn-secondary">Создать</a>
<a href="http://127.0.0.1:8000/news/1/" class="btn btn-secondary">Комментировать</a>
{% endblock header %}

<!-- Main -->
{% block main %}
<form class="form-control" action="{% url 'news_create' %}" method="POST">
    {% csrf_token %}

    <input class="form-control" name="article_title" type="text" required="" placeholder="Ваше имя"><br>
    <textarea class="form-control" name="article_text" required="" placeholder="Ваш комментарий" cols="30" rows="10"></textarea><br>

    <button class="btn btn-primary" type="submit">Создать статью</button>
</form>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}