{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}Новость: {{ article.article_title }}{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
<a href="{% url 'news' %}" class="btn btn-light active" aria-current="page">Список новостей</a>
<a href="{% url 'news_create' %}" class="btn btn-secondary">Создать</a>
<a href="http://127.0.0.1:8000/news/1/" class="btn btn-secondary">Комментировать</a>
{% endblock header %}

<!-- Main -->
{% block main %}
    {% if article %}
        <main>
            <div class="album py-1 bg-light">
                <div class="rounded overflow-hidden position-relative">
                    <div class="">
                        <div class="">
                            <div class="card shadow-sm">
                                {% if article.article_image %}
                                    <img src="{{ article.article_image.url }}" class="img-fluid" alt="{{ article.article_title }}">
                                {% else %}
                                    <img src="#" class="img-fluid" alt="{{ article.article_title }}">
                                {% endif %}                           
                                <div class="card-body">
                                <strong class="card-text d-inline-block mb-2 text-primary"><a href="{% url 'news_detail' article.id %}">{{ article.article_title }}</a></strong>
                                <p class="card-text">{{ article.article_text }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'news' %}">Все новости</a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" href="#">Редактировать</button>
                                    <form class="form-control" action="{% url 'increase_rating' article.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" type="submit">лайк {{ article.article_rating_positive }}</button>
                                    </form>
                                    {% if article.get_article_rating_value > 0 %}                      
                                        <p class="card-text d-inline-block text-primary">({{ article.get_article_rating_value }})</p>
                                    {% else %}
                                        <p class="card-text d-inline-block text-danger">({{ article.get_article_rating_value }})</p>
                                    {% endif %}    
                                    <form class="form-control" action="{% url 'decrease_rating' article.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" type="submit">дизлайк {{ article.article_rating_negative }}</button>
                                    </form>
                                    </div>
                                    <small class="text-muted">{{ article.article_pub_date }}</small>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% if latest_comments_list %}
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Комментарии</h6>
                {% for c in latest_comments_list %}
                    <div class="d-flex text-muted pt-3 col p-4 d-flex flex-column position-static border rounded overflow-hidden">
                        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#007bff"/>
                            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                        </svg>
                        <div class="pb-3 mb-0 small lh-sm w-100">
                        <div class="d-flex justify-content-between">
                            <strong class="text-gray-dark">{{c.comment_text}}</strong>
                            <a href="#">Пожаловаться</a>
                        </div>
                        <span class="d-block">{{c.author_name}}</span>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        {% else %}
            Комментарии не найдены
        {% endif %}
        <form class="form-control" action="{% url 'leave_comment' article.id %}" method="POST">
            {% csrf_token %}
            <input class="form-control" type="text" required="" placeholder="Ваше имя" name="name"><br>
            <textarea class="form-control" name="text" required="" placeholder="Ваш комментарий" cols="30" rows="10"></textarea><br>
            <button class="btn btn-primary" type="submit">Оставить комментарий</button>
        </form>
        {% else %}
            Статьи не найдены
    {% endif %}




{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}