{% extends "base/base_first.html" %}
{% load static %}

<!-- Head -->
{% block first_head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock first_head %}

<!-- Title -->
{% block first_title %}
REACT APP
{% endblock first_title %}     

<!-- Style -->
{% block first_style %}
    {% block second_style %}{% endblock second_style %} 
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}"/>
    <!-- Not Optimizated Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- Not Optimizated Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap_5.0.0/bootstrap.css' %}"> -->
    <!-- Optimizated Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap_5.0.0/bootstrap.min.css' %}"> -->
{% endblock first_style %}      

<!-- Header -->
{% block first_header %}
    <header>
        Заголовок
    </header>
{% endblock first_header %}

<!-- Main -->
{% block first_main %}
    <div id="app"></div>
    
    <div>
        <button id="btn" class="btn">
            Press me!
        </button>
    </div>
{% endblock first_main %}

<!-- Footer -->
{% block first_footer %}
    <footer>
        Подвал
    </footer>
{% endblock first_footer %}

<!-- Scripts -->
{% block first_script %}
    <!-- Not Optimizated Custom JavaScript -->
    <script src="{% static 'js/index.js' %}"></script>
    <!-- Not Optimizated Bootstrap JavaScript -->
    <!-- <script src="{% static 'js/bootstrap_5.0.0/bootstrap.js' %}"></script> -->
    <!-- Optimizated Bootstrap JavaScript -->
    <!-- <script src="{% static 'js/bootstrap_5.0.0/bootstrap.min.js' %}"></script> -->
{% endblock first_script %}