{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}Управление проектами{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
<a href="{% url 'project_managment' %}" class="btn btn-light active" aria-current="page">Основа</a>
<a href="{% url 'project_managment_sub_first' %}" class="btn btn-secondary">Подменю#1</a>
<a href="{% url 'project_managment_sub_second' %}" class="btn btn-secondary">Подменю#2</a>
{% endblock header %}

<!-- Main -->
{% block main %}
<div class="container-fluid">
    <hr>
    <h1>Cтраница Управления Проектами - Подменю 2</h1>
    <hr>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for Project_managment in Project_managment.all %}
        <div class="col">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 fw-normal">{{ Project_managment.name }}</h4>
              <h6 class="my-0 fw-normal">{{ Project_managment.created }}</h6>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">${{ Project_managment.price }}<small class="text-muted"> / затраты</small></h1>
              <h1 class="card-title pricing-card-title">${{ Project_managment.stock }}<small class="text-muted"> / прибыль</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ Project_managment.description }}</li>
              </ul>
              <img src="{{ Project_managment.image.url }}" class="img-fluid" alt="{{ Project_managment.name }}">
              {% if Project_managment.available %}
                <h1 class="card-title pricing-card-title"><small class="text-muted">Принято</small></h1>
              {% else %}
                <h1 class="card-title pricing-card-title"><small class="text-muted">Отклонено</small></h1>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}