{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
	Заголовок
{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<div class="container container-fluid m-lg-5 p-lg-5">
    <button id="btn" class="btn-danger btn btn-lg">
        Click me!
    </button>
</div>
<div class="container container-fluid m-lg-5 p-lg-5">
    <div id="list"></div>
</div>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}
    <!-- Not Optimizated Custom JavaScript -->
    <script src="{% static 'js/test.js' %}"></script>
{% endblock script %}