{% extends "components/base.html" %}
{% load idea_list_tag %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    {{ data.name }}
{% endblock title %}

<!-- Style -->
{% block style %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container-fluid mx-auto text-center d-block">

{% if data %}

    <div class="text-white rounded bg-dark">
        <div class="d-flex justify-content-between align-items-center">
            <div class="col-md-6">
                <h1 class="display-6 fst-italic">Идея</h1>
                <p class="text-secondary">Эта страница содержит подробную информацию об идее.</p>
            </div>
            <a class="btn btn-lg btn-outline-light" href="{% url 'ideas_list' 'All' %}">Все предложения</a>
        </div>
    </div>


<main class="container-fluid">
    {% if data %}
        <div class="row">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative ">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="d-flex justify-content-between align-items-center">
                        <strong class="d-inline-block text-primary">
                            {{ data.category }}
                            <p class="text-secondary">
                                {% if data.status %}
                                    Видимая идея
                                {% else %}
                                    Невидимая идея
                                {% endif %}
                            </p>
                        </strong>
                        <strong class="d-inline-block text-primary">Банк идей</strong>
                        </div>
                        <h3>{{ data.name }}</h3>
                        <hr>
                        <div class="text-center">
                            {% if data.image %}
                            <img src="{{ data.image.url }}" class="bd-placeholder-img " width="70% " height="100%" alt="{{ data.name }}"> {% else %}
                            <svg class="bd-placeholder-img card-img-top" width="100% " height="100% " xmlns="http://www.w3.org/2000/svg " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false"><title>Placeholder</title><rect width="100% " height="100% " fill="#55595c "/><text x="50% " y="50% " fill="#eceeef " dy=".3em ">{{ article.article_title }}</text></svg> {% endif %}
                        </div>
                        <hr>
                        <p class="card-text">
                            {{ data.short_description }}
                        </p>
                        <hr>
                        <p class="card-text">
                            {{ data.long_description }}
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                                <form action="{% url 'ideas_like' data.id %}" method="POST">
                                    {% csrf_token %}
                                    <input class="form-control d-none" type="hidden" placeholder="like" name="status" value="like">
                                    {% is_liked_tag data.id as is_liked_bool %}
                                    {% if is_liked_bool %}
                                        <button class="m-md-2 btn btn-xs btn-success" type="submit">лайков:<p>{{ data.get_like_count }}</p></button>
                                    {% else %}
                                        <button class="m-md-2 btn btn-xs btn-outline-success" type="submit">лайков:<p>{{ data.get_like_count }}</p></button>
                                    {% endif %}
                                </form>

                                {% if 0 > data.get_total_rating %}
                                    <div class="m-sm-1 btn btn-sm btn-outline-danger text-link-danger">Рейтинг\<sup>всего оценок</sup>: {{ data.get_total_rating }}<sup class="text-muted">{{ data.get_total_rating_value }}</sup></div>
                                {% else %}
                                    <div class="m-sm-1 btn btn-sm btn-outline-success text-link-success">Рейтинг\<sup>всего оценок</sup>: {{ data.get_total_rating }}<sup class="text-muted">{{ data.get_total_rating_value }}</sup></div>
                                {% endif %}

                                <form action="{% url 'ideas_like' data.id %}" method="POST">
                                    {% csrf_token %}
                                    <input class="form-control d-none" type="hidden" placeholder="dislike" name="status" value="dislike">
                                    {% is_disliked_tag data.id as is_disliked_bool %}
                                    {% if is_disliked_bool %}
                                        <button class="m-md-2 btn btn-xs btn-danger" type="submit">дизлайков:<p>{{ data.get_dislike_count }}</p></button>
                                    {% else %}
                                        <button class="m-md-2 btn btn-xs btn-outline-danger" type="submit">дизлайк:<p>{{ data.get_dislike_count }}</p></button>
                                    {% endif %}
                                </form>

                                <div class="m-sm-0 btn btn-sm btn-outline-secondary text-link-light">Комментарии: {{ data.get_total_comment_value }}</div>

                            </div>
                            {% if data.document %}
                                <a class="btn btn-dark" href="{{ data.document.url }}">скачать 1 приложение</a>
                            {% endif %}

                            <small class="text-muted">{{ data.datetime_created }} (подано) / {{ data.datetime_register }} (зарегистрировано)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {% load account_tag %}

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            {% if comments %}
                <h2 class="border-bottom pb-2 mb-0">Комментарии</h2>
                {% for comment in comments %}
                <div class="shadow-sm">
                    <div class="text-muted pt-3">
                        <div class="d-flex justify-content-between align-items-center mb-0 small lh-smd-blocktext-link-dark">
                            <p>
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="20" height="20" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <small class="btn btn-sm btn-outline-dark">
                                    {% if comment.comment_author %}
                                        Автор: {{ comment.comment_author.profile.first_name }} {{ comment.comment_author.profile.last_name }}
                                    {% else %}
                                        Профиль не заполнен
                                    {% endif %}
                                </small>
                            </p>
                            <p><small class="">{{ comment.comment_date }}</small></p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-gray-dark border-bottom">{{comment.comment_text}}</p>
                        <a class="btn btn-danger" href="#">Пожаловаться</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h2 class="pb-2 mb-0">Комментарии не найдены</h2>
            {% endif %}
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h2 class="pb-2 mb-0">Добавить свой комментарий:</h2>
            <form class="" action="{% url 'ideas_comment' data.id %}" method="POST">
                {% csrf_token %}
                <textarea class="form-control" type="text" required="" placeholder="Ваш комментарий" cols="30" rows="10" name="comment_text"></textarea><br>
                <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
            </form>
        </div>

    {% else %}
        Предложение не найдено
    {% endif %}
</main>

{% else %}

    {% include 'components/aborted.html' %}

{% endif %}

</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}