# Environments
.env
.venv
.lin_env
.win_env
.env_name
.node_modules

env/
venv/
lin_env/
win_env/
env_name/
node_modules/

*lin_env/
*win_env/
*env_name/
*node_modules/

**lin_env/
**win_env/
**env_name/
**node_modules/

ENV/
VENV/
env.bak/
venv.bak/




