{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Создать новый аккаунт
{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
    <div>
        {% if not form.is_valid %}
            <div>
                <br>
                <h1 class="product_title text-center">
                    Создать новый аккаунт
                </h1>
                <br>
                <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
                    <br>
                    <p>Пожалуйста, введите информацию в поля ниже, для создания аккаунта:</p>
                    <form method="post">
                        {% csrf_token %}
                        <p>{{ form | crispy }}</p>
                        <button type="submit" name="button" class="btn btn-lg btn-secondary">Создать</button>
                    </form>
                    
                </div>
            </div>
        {% else %}
        <div class="mx-auto container">
            <br>
            <h1 class="product_title text-center">
                Ваш аккаут был успешно создан
            </h1>
            <br>
            <div class="container-fluid text-center">
                <a class="btn btn-lg btn-success" href="{% url 'home' %}">Вернуться</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}