{% load access_tag %}


<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">ГЛАВНАЯ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% access_tag 'module_modules' as module_modules %}
    {% if module_modules %}
        <ul class="navbar-nav navbar-collapse collapse" id="navbarSupportedContent">
            {% access_tag 'superuser' as superuser %}
            {% if superuser %}
                <li class="dropend">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Development</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <strong class="dropdown-header">Шаблоны</strong>
                            {% access_tag 'examples_forms' as examples_forms %}
                            {% if examples_forms %}
                                <a class="dropdown-item" href="{% url 'examples_forms' %}">Формы</a>
                            {% endif %}
                            {% access_tag 'example' as example %}
                            {% if example %}
                                <a class="dropdown-item" href="{% url 'example' %}">Шаблон</a>
                            {% endif %}
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <strong class="dropdown-header">Экстра</strong>
                            {% access_tag 'geo' as geo %}
                            {% if geo %}
                                <a class="dropdown-item" href="{% url 'geo' %}">Геолокация, устройства: список</a>
                            {% endif %}
                            {% access_tag 'analyse' as analyse %}
                            {% if analyse %}
                                <a class="dropdown-item" href="{% url 'analyse' %}">Машинное зрение: запуск анализа</a>
                            {% endif %}
                            {% access_tag 'react' as react %}
                            {% if react %}
                                <a class="dropdown-item" href="{% url 'react' %}">React</a>
                            {% endif %}
                            <hr class="dropdown-divider">
                        </li>
                        {% access_tag 'section_otiz' as section_otiz %}
                        {% if section_otiz %}
                            <li>
                                <strong class="dropdown-header">Отдел труда и заработной платы:</strong>
                                {% access_tag 'passages_select' as passages_select %}
                                {% if passages_select %}
                                    <a class="dropdown-item" href="{% url 'passages_select' %}">Выгрузка данных</a>
                                {% endif %}
                                {% access_tag 'passages_update' as passages_update %}
                                {% if passages_update %}
                                    <a class="dropdown-item" href="{% url 'passages_update' %}">Обновление данных</a>
                                {% endif %}
                                {% access_tag 'passages_insert' as passages_insert %}
                                {% if passages_insert %}
                                    <a class="dropdown-item" href="{% url 'passages_insert' %}">Добавление данных</a>
                                {% endif %}
                                {% access_tag 'passages_delete' as passages_delete %}
                                {% if passages_delete %}
                                    <a class="dropdown-item" href="{% url 'passages_delete' %}">Удаление данных</a>
                                {% endif %}
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% access_tag 'moderator' as moderator %}
            {% if moderator %}
                <li class="dropend">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Модератор</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <strong class="dropdown-header">Основной функционал:</strong>
                            <a class="dropdown-item" href="{% url 'admin' %}">Панель Администрирования</a>
                            {% access_tag 'logging' as logging %}
                            {% if logging %}
                                <a class="dropdown-item" href="{% url 'logging' %}">Логи Системы <span class="badge bg-danger rounded-pill">{{ errors }}</span></a>
                            {% endif %}
                            {% access_tag 'account_create_modules_and_actions' as account_create_modules_and_actions %}
                            {% if account_create_modules_and_actions %}
                                <a class="dropdown-item" href="{% url 'account_create_modules_and_actions' %}">Создание модулей или действий</a>
                            {% endif %}
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <strong class="dropdown-header">Аккаунты</strong>
                            {% access_tag 'account_create_or_change_accounts' as account_create_or_change_accounts %}
                            {% if account_create_or_change_accounts %}
                                <a class="dropdown-item" href="{% url 'account_create_or_change_accounts' %}">Создать/изменить пользователей</a>
                            {% endif %}
                            {% access_tag 'account_generate_passwords' as account_generate_passwords %}
                            {% if account_generate_passwords %}
                                <a class="dropdown-item" href="{% url 'account_generate_passwords' %}">Сгенерировать пароли для аккаунтов</a>
                            {% endif %}
                            {% access_tag 'account_export_accounts' as account_export_accounts %}
                            {% if account_export_accounts %}
                                <a class="dropdown-item" href="{% url 'account_export_accounts' %}">Выгрузить список пользователей</a>
                            {% endif %}
                            {% access_tag 'account_update_accounts_1c' as account_update_accounts_1c %}
                            {% if account_update_accounts_1c %}
                                <a class="dropdown-item" href="{% url 'account_update_accounts_1c' %}">Обновить пользователей из 1С</a>
                            {% endif %}
                            {% access_tag 'account_change_groups' as account_change_groups %}
                            {% if account_change_groups %}
                                <a class="dropdown-item" href="{% url 'account_change_groups' %}">Изменить группы пользователей</a>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            {% endif %}

            {% access_tag 'module_profile' as module_profile %}
            {% if module_profile %}
                <li class="dropend">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Профиль</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% access_tag 'section_main' as section_main %}
                        {% if section_main %}
                            <li>
                                <strong class="dropdown-header">Основной функционал:</strong>
                                <a class="dropdown-item" href="{% url 'home' %}">Главная страница</a>
                                {% access_tag 'account_notification' as account_notification %}
                                {% if account_notification %}
                                    <a class="dropdown-item" href="{% url 'account_notification' 'All' %}">Уведомления <span class="badge bg-warning rounded-pill">{{ notifications }}</span></a>
                                {% endif %}
                                <a class="dropdown-item disabled" href="#">Достижения</a>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        {% access_tag 'section_self_profile' as section_self_profile %}
                        {% if section_main %}
                            <li>
                                <strong class="dropdown-header">Личный профиль:</strong>
                                {% access_tag 'account_profile' as account_profile %}
                                {% if account_profile %}
                                    <a class="dropdown-item" href="{% url 'account_profile' 0 %}">Личный профиль [ {{ request.user.username }} ]</a>
                                {% endif %}
                                {% access_tag 'account_change_profile' as account_change_profile %}
                                {% if account_change_profile %}
                                    <a class="dropdown-item" href="{% url 'account_change_profile' %}">Изменить личный профиль</a>
                                {% endif %}
                                {% access_tag 'account_change_password' as account_change_password %}
                                {% if account_change_password %}
                                    <a class="dropdown-item" href="{% url 'account_change_password' %}">Изменить пароль</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'account_recover_password' 'iin' %}">Восстановить пароль</a>
                                <a class="dropdown-item" href="{% url 'account_login' %}">Войти</a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">Выйти</a>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% access_tag 'module_news' as module_news %}
            {% if module_news %}
                <li class="dropend">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Новости</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% access_tag 'section_study' as section_news %}
                        {% if section_news %}
                            <li>
                                <strong class="dropdown-header">Обучение:</strong>
                                {% access_tag 'video_study' as video_study %}
                                {% if video_study %}
                                    <a class="dropdown-item" href="{% url 'video_study' %}">Видео инструкции</a>
                                {% endif %}
                                <a class="dropdown-item disabled" href="#">Текстовые инструкции</a>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        {% access_tag 'section_news' as section_news %}
                        {% if section_news %}
                            <li>
                                <strong class="dropdown-header">Новости предприятия:</strong>
                                <a class="dropdown-item disabled" href="#">Просмотр</a>
                                <a class="dropdown-item disabled" href="#">Поиск</a>
                                <a class="dropdown-item disabled" href="#">Предложить</a>
                                <a class="dropdown-item disabled" href="#">Зал славы</a>
                                <a class="dropdown-item disabled" href="#">Алтын Канат</a>
                                <a class="dropdown-item disabled" href="#">Лучшие работники Комбината</a>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        {% access_tag 'section_chat' as section_chat %}
                        {% if section_chat %}
                            <li>
                                <strong class="dropdown-header">Чат:</strong>
                                <a class="dropdown-item disabled" href="#">Общий</a>
                                <a class="dropdown-item disabled" href="#">Личный</a>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% access_tag 'module_progress' as module_progress %}
            {% if module_progress %}
                <li class="dropend">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Развитие</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% access_tag 'section_idea' as section_idea %}
                        {% if section_idea %}
                            <li>
                                <strong class="dropdown-header">Банк идей:</strong>
                                {% access_tag 'idea_create' as idea_create %}
                                {% if idea_create %}
                                    <a class="dropdown-item" href="{% url 'idea_create' %}">Подать идею</a>
                                {% endif %}
                                {% access_tag 'idea_list' as idea_list %}
                                {% if idea_list %}
                                    <a class="dropdown-item" href="{% url 'idea_list' 'All' %}">Список идей</a>
                                {% endif %}
                                {% access_tag 'idea_rating' as idea_rating %}
                                {% if idea_rating %}
                                    <a class="dropdown-item" href="{% url 'idea_rating' %}">Рейтинги среди идей</a>
                                {% endif %}
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        {% access_tag 'section_rational' as section_rational %}
                        {% if section_rational %}
                            <li>
                                <strong class="dropdown-header">Рационализаторство:</strong>
                                <a class="dropdown-item disabled" href="#">Подать рац. предложение</a>
                                <a class="dropdown-item disabled" href="#">Список рац. предложений</a>
                                <a class="dropdown-item disabled" href="#">Рейтинги среди рац. предложений</a>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        {% access_tag 'section_project' as section_project %}
                        {% if section_project %}
                            <li>
                                <strong class="dropdown-header">Проектная деятельность:</strong>
                                <a class="dropdown-item disabled" href="#">Подать проект</a>
                                <a class="dropdown-item disabled" href="#">Список проектов</a>
                                <a class="dropdown-item disabled" href="#">Рейтинги среди проектов</a>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% access_tag 'module_buhgalteria' as module_buhgalteria %}
            {% if module_buhgalteria %}
                <li class="dropend">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Бухгалтерия</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% access_tag 'section_zarplata' as section_zarplata %}
                        {% if section_zarplata %}
                            <li>
                                <strong class="dropdown-header">Сектор расчёта заработной платы:</strong>
                                {% access_tag 'salary' as salary %}
                                {% if salary %}
                                    <a class="dropdown-item" href="{% url 'salary' %}">Выгрузка расчётного листа</a>
                                {% endif %}
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% access_tag 'module_hr' as module_hr %}
            {% if module_hr %}
                <li class="dropend">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Служба Управления Персоналом</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% access_tag 'section_hr' as section_hr %}
                        {% if section_hr %}
                            <li>
                                <strong class="dropdown-header">Отдел кадров:</strong>
                                {% access_tag 'career' as career %}
                                {% if career %}
                                    <a class="dropdown-item" href="{% url 'career' %}">Вакансии</a>
                                {% endif %}
                                <a class="dropdown-item disabled" href="#">Выгрузка отпусков</a>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        {% access_tag 'section_otp' as section_otp %}
                        {% if section_otp %}
                            <li>
                                <strong class="dropdown-header">Отдел охраны труда:</strong>
                                {% access_tag 'passages_thermometry' as passages_thermometry %}
                                {% if passages_thermometry %}
                                    <a class="dropdown-item" href="{% url 'passages_thermometry' %}">Термометрия</a>
                                {% endif %}
                                <a class="dropdown-item disabled" href="#">Алкометрия</a>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>