{% extends "components/base.html" %}
{% load static %}
{% load access_tag %}
{% load idea_list_tag %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Просмотр идеи в банке идей
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
    Просмотр идеи
{% endblock header %}

<!-- Description -->
{% block description %}
    Содержит подробную информацию об идеи в банке идей.
{% endblock description %}

<!-- Main -->
{% block main %}



{% if response == -1 %}
    {% include 'components/aborted.html' %}
{% else %}
    {% access_tag 'idea_moderator' as idea_moderator %}
    {% if idea.visibility_boolean_field or idea_moderator %}
        <div class="container">
            {% access_tag 'idea_moderator' as idea_moderator %}
            {% if idea.visibility_boolean_field or idea_moderator %}
                <div class="card shadow-sm text-center m-1">
                    <div class="card-header">
                        <a class="text-decoration-none text-dark display-6" href="{% url 'idea_view' idea.id %}">
                            <strong>{{ idea.name_char_field }}</strong>
                        </a>
                    </div>
                    <div class="card-header">
                        {% if idea_moderator %}
                            <form action="{% url 'idea_change_visibility' idea.id %}" method="POST">
                                {% csrf_token %}
                                {% if idea.visibility_boolean_field %}
                                    <label class="form-control-lg">
                                        Скрыть идею:
                                        <input type="text"
                                               id="hidden"
                                               name="hidden"
                                               required=""
                                               placeholder=""
                                               value="false"
                                               minlength="0"
                                               maxlength="64"
                                               class="form-control form-control-lg d-none"
                                        />
                                        <small class="text-muted">! функционал модератора !</small>
                                    </label>
                                    <button class="btn btn-sm btn-outline-danger" type="submit">скрыть</button>
                                {% else %}
                                    <label class="form-control-lg">
                                        Одобрить идею:
                                        <input type="text"
                                               id="hidden"
                                               name="hidden"
                                               required=""
                                               placeholder=""
                                               value="true"
                                               minlength="0"
                                               maxlength="64"
                                               class="form-control form-control-lg d-none"
                                        />
                                        <small class="text-muted">! функционал модератора !</small>
                                    </label>
                                    <button class="btn btn-sm btn-outline-success" type="submit">одобрить</button>
                                {% endif %}
                            </form>
                        {% endif %}
                        {% if idea.author_foreign_key_field.user_foreign_key_field.username == request.user.username or idea_moderator %}
                            <div class="form-control-lg">
                                Редактировать идею:
                                <a class="btn btn-sm btn-outline-warning" target="_blank" href="{% url 'idea_change' idea.id %}">Редактировать</a>
                            </div>
                        {% endif %}
                        <div class="container-fluid d-flex justify-content-between">
                            {% if idea.author_foreign_key_field %}
                                <a class="btn btn-sm btn-outline-success m-1" href="{% url 'account_profile' idea.author_foreign_key_field.id %}">
                                    Автор:
                                        {% if idea.author_foreign_key_field.last_name_char_field %}{{ idea.author_foreign_key_field.last_name_char_field }} {% endif %}
                                        {% if idea.author_foreign_key_field.first_name_char_field %}{{ idea.author_foreign_key_field.first_name_char_field }} {% endif %}
                                        {% if idea.author_foreign_key_field.patronymic_char_field %}{{ idea.author_foreign_key_field.patronymic_char_field }} {% endif %}
                                </a>
                            {% else %}
                                <small class="m-1">
                                    Профиль не заполнен
                                </small>
                            {% endif %}
                            <a class="btn btn-sm btn-outline-secondary m-1" href="{% url 'idea_list' idea.get_category.0 %}">{{ idea.get_category.1 }}</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid d-flex justify-content-between">
                            <small class="text-muted m-1">подано: {{ idea.created_datetime_field }}</small>
                            <small class="text-muted m-1">зарегистрировано: {{ idea.register_datetime_field }}</small>
                        </div>
                        <div class="container-fluid">
                            <a href="{% url 'idea_view' idea.id %}">
                                {% if idea.avatar_image_field %}
                                    <img src="{{ idea.avatar_image_field.url }}" class="card-img-top img-fluid" alt="id" style="width: 1024px;">
                                {% else %}
                                    <img src="{% static 'img/favicon/logo512.png' %}" class="card-img-top img-fluid" alt="id" style="width: 1024px;">
                                {% endif %}
                            </a>
                        </div>
                        <hr/>
                        <div class="container-fluid">
                            <p class="card-text lead">{{ idea.short_description_char_field }}</p>
                        </div>
                        <hr/>
                        <div class="container-fluid">
                            <p class="card-text">{{ idea.full_description_text_field }}</p>
                        </div>
                        <hr/>
                        {% if idea.addiction_file_field %}
                            <div class="container-fluid">
                                <a class="btn btn-sm btn-outline-dark" href="{{ idea.addiction_file_field.url }}">скачать 1 приложение</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-header">
                        <ul class="container-fluid nav col-auto col-md-auto col-lg-auto justify-content-center">
                            <li class="m-1">
                                {% if 0 > idea.get_total_rating %}
                                    <div class="btn btn-sm btn-outline-danger">
                                        Рейтинг\<sup>оценок</sup>: {{ idea.get_total_rating }}
                                        <sup class="text-dark">{{ idea.get_total_rating_value }}</sup>
                                    </div>
                                {% else %}
                                    <div class="btn btn-sm btn-outline-success">
                                        Рейтинг\<sup>оценок</sup>: {{ idea.get_total_rating }}
                                        <sup class="text-dark">{{ idea.get_total_rating_value }}</sup>
                                    </div>
                                {% endif %}
                            </li>
                            <li class="m-1">
                                {% is_liked_tag idea.id as is_liked_bool %}
                                {% if is_liked_bool %}
                                    <small class="text-success">Вам понравилось</small>
                                {% else %}
                                    {% is_disliked_tag idea.id as is_disliked_bool %}
                                    {% if is_disliked_bool %}
                                        <small class="text-danger">Вам не понравилось</small>
                                    {% else %}
                                        <small class="text-secondary">Вы не оценили</small>
                                    {% endif %}
                                {% endif %}
                            </li>
                            <li class="p-1">
                                <div class="btn btn-sm btn-outline-secondary">Комментариев: {{ idea.get_total_comment_value }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="form-control container-fluid text-center m-1">
                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                    <li class="m-1">
                        <form action="{% url 'idea_like' idea.id %}" method="POST">
                            {% csrf_token %}
                            <input class="d-none" type="hidden" placeholder="like" name="status" value="like">
                            {% is_liked_tag idea.id as is_liked_bool %}
                            {% if is_liked_bool %}
                                <button class="btn btn-sm btn-success" type="submit">
                                    лайк
                                </button>
                            {% else %}
                                <button class="btn btn-sm btn-outline-success" type="submit">
                                    лайк
                                </button>
                            {% endif %}
                        </form>
                    </li>
                    <li class="m-1">
                        <form action="{% url 'idea_like' idea.id %}" method="POST">
                            {% csrf_token %}
                            <input class="d-none" type="hidden" placeholder="dislike" name="status" value="dislike">
                            {% is_disliked_tag idea.id as is_disliked_bool %}
                            {% if is_disliked_bool %}
                                <button class="btn btn-sm btn-danger" type="submit">
                                    дизлайк
                                </button>
                            {% else %}
                                <button class="btn btn-sm btn-outline-danger" type="submit">
                                    дизлайк
                                </button>
                                <label class="">
                                    <input type="text"
                                           id="text_field"
                                           name="text_field"
                                           required=""
                                           placeholder="причина дизлайка"
                                           value=""
                                           minlength="1"
                                           maxlength="512"
                                           class="form-control"
                                    />
                                </label>
                            {% endif %}
                        </form>
                    </li>
                    {% access_tag 'account_create_notification' as account_create_notification %}
                    {% if account_create_notification %}
                        <li class="m-1">
                            <form class="" action="{% url 'account_create_notification' %}" method="POST">
                                {% csrf_token %}
                                <input type="text"
                                       id="type_slug_field"
                                       name="type_slug_field"
                                       required=""
                                       placeholder=""
                                       value="notifications"
                                       class="form-control form-control-lg d-none"
                                />
                                <input type="text"
                                       id="name_char_field"
                                       name="name_char_field"
                                       required=""
                                       placeholder=""
                                       value="Жалоба на статью в банке идей"
                                       class="form-control form-control-lg d-none"
                                />
                                <input type="text"
                                       id="text_field"
                                       name="text_field"
                                       required=""
                                       placeholder=""
                                       value="[ Пользователь: {{ request.user }} ] | [ id статьи: {{ idea.id }} ] | [ Автор статьи: {{ idea.author_foreign_key_field }} ] | [ Идея в банке идей: {{ idea.name_char_field }} ]"
                                       class="form-control form-control-lg d-none"
                                />
                                <button class="btn btn-sm btn-outline-danger" type="submit">Пожаловаться на идею</button>
                            </form>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-control-lg" action="{% url 'idea_comment' idea.id %}" method="POST">
                    {% csrf_token %}
                    <label class="form-control form-control-lg">
                        Добавить свой комментарий:
                        <textarea type="text"
                                  id="text_field"
                                  name="text_field"
                                  required=""
                                  placeholder="текст комментария"
                                  minlength="1"
                                  maxlength="512"
                                  rows="2"
                                  class="form-control form-control-lg"
                        ></textarea>
                        <small class="text-muted">длина: от 1 до 512 символов</small>
                    </label>
                    <button class="btn btn-sm btn-outline-primary w-100" type="submit">Подтвердить</button>
                </form>
            </div>
            <div class="form-control container-fluid text-center m-1">
                <h1 class="border-bottom text-center">Комментарии</h1>
                {% if page %}
                    <div class="container d-flex justify-content-center align-self-center">
                        {% include 'components/paginator.html' %}
                    </div>
                    {% for comment in page %}
                        <div class="form-control">
                            <div class="d-flex justify-content-between align-items-center m-1">
                                <svg class="bd-placeholder-img flex-shrink-0 m-1 rounded" width="20" height="20" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                <small class="">{{ comment.datetime_field }}</small>
                                {% access_tag 'account_create_notification' as account_create_notification %}
                                {% if account_create_notification %}
                                    <form class="m-1" action="{% url 'account_create_notification' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="text"
                                               id="type_slug_field"
                                               name="type_slug_field"
                                               required=""
                                               placeholder=""
                                               value="notifications"
                                               class="form-control form-control-lg d-none"
                                        />
                                        <input type="text"
                                               id="name_char_field"
                                               name="name_char_field"
                                               required=""
                                               placeholder=""
                                               value="Жалоба на комментарий в банке идей"
                                               class="form-control form-control-lg d-none"
                                        />
                                        <input type="text"
                                               id="text_field"
                                               name="text_field"
                                               required=""
                                               placeholder=""
                                               value="[ Пользователь: {{ request.user }} ] | [ id комментария: {{comment.id}} ] | [ Автор комментария: {{ comment.author_foreign_key_field }} ] | [ Идея в банке идей: {{ comment.idea_foreign_key_field }} ]"
                                               class="form-control form-control-lg d-none"
                                        />
                                        <button class="btn btn-sm btn-outline-danger w-100" type="submit">Пожаловаться на комментарий</button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between align-items-center m-1">
                                {% if comment.author_foreign_key_field %}
                                    <a class="btn btn-sm btn-outline-dark" href="{% url 'account_profile' comment.author_foreign_key_field.id %}">
                                        <small class="">
                                            {{ comment.author_foreign_key_field.last_name_char_field }} {{ comment.author_foreign_key_field.first_name_char_field }} {{ comment.author_foreign_key_field.patronymic_char_field }}
                                        </small>
                                    </a>
                                {% else %}
                                    <small class="btn btn-sm btn-outline-success">
                                        Профиль не заполнен
                                    </small>
                                {% endif %}
                            </div>
                            <small class="m-1">{{comment.text_field}}</small>
                        </div>
                    {% endfor %}
                    <div class="container d-flex justify-content-center align-self-center">
                        {% include 'components/paginator.html' %}
                    </div>
                {% else %}
                    <h2 class="text-center">Комментарии не найдены</h2>
                {% endif %}
            </div>
        </div>
    {% else %}
        {% include 'components/aborted.html' %}
    {% endif %}
{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}