<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">ГЛАВНАЯ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin' %}" tabindex="-1" aria-disabled="true">administration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project_managment' %}">управление проектами</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">служба управления персоналом</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'custom' %}">custom</a>
                </li>
            </ul>
              <!-- Btn-Group -->
              <div class="btn-group m-1 p-1">
                  {% block second_btn-group %}{% endblock second_btn-group %}
              </div>
            <form class="d-flex navbar-dark bg-dark">
                <input class="form-control me-3" type="search" placeholder="Что ищем?" aria-label="Что ищем?">
                <button class="btn btn-outline-light" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>