{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}Управление проектами{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
<a href="{% url 'project_managment' %}" class="btn btn-light active" aria-current="page">Основа</a>
<a href="{% url 'project_managment_sub_first' %}" class="btn btn-secondary">Подменю#1</a>
<a href="{% url 'project_managment_sub_second' %}" class="btn btn-secondary">Подменю#2</a>
{% endblock header %}

<!-- Main -->
{% block main %}
<div class="container-fluid">
    <hr>
    <h1>Cтраница Управления Проектами - Основа</h1>
    <hr>
  </div>
  
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Проекты</h1>
    <p class="lead">Ниже будет расположен список проектов, нажимая на заголовок Вы можете перейти к более детальному описанию</p>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for i in ""|ljust:"15" %}
        <div class="col">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h6 class="my-0 fw-normal">{{ forloop.counter }}</h6>
              <h4 class="my-0 fw-normal">Заголовок проекта</h4>
              <h6 class="my-0 fw-normal">дата создания проекта</h6>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$ цена<small class="text-muted"> / затраты</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Описание проекта</li>
              </ul>
              <img src="картинка" class="img-fluid bg-dark" alt="картинка">
              <button type="button" class="w-100 btn btn-lg btn-success">Текст на кнопке</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}