{% extends "base/base_third.html" %}
{% load static %}
{% load crispy_forms_tags %}


<!-- Title -->
{% block second_title %}Создать новый аккаунт{% endblock second_title %}

<!-- Main -->
{% block second_main %}
<div class="container-fluid">
    {% if not form.is_valid %}
        <div>
            <br>
            <h1 class="product_title text-center">
                Создать новый аккаунт
            </h1>
            <br>
            <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
                <br>
                <p>
                    Пожалуйста, введите информацию для создания нового аккаунта
                </p>
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form | crispy }}</p>
                    <button type="submit" name = "button" class="btn btn-secondary"></button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="mx-auto">
            <br>
            <h1 class="priduct_title text-center">
                Ваш аккаунт был успешно создан!
            </h1>
            <br>
            <div>
                <p>
                    Ваш аккаунт был создан и готов к использованию
                </p>
                <br>
                <a href="{% url 'signup' %}">Домашняя страница</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock second_main %}