{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Создать рационализаторское предложение
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}

{% if mails %}
    <div class="container">
        <div class="m-lg-5 d-flex justify-content-between align-items-center shadow-sm">
            <strong class="">#</strong>
            <strong class="">Тема</strong>
            <strong class="">Сообщение</strong>
            <strong class="">Адресат</strong>
            <strong class="">Дата</strong>
        </div>
        {% for LOOP in mails %}
            <div class="m-lg-5 d-flex justify-content-between align-items-center shadow-sm">
                <small class="">{{ forloop.counter }}</small>
                <small class="">{{ LOOP.Email_subject }}</small>
                <small class="">{{ LOOP.Email_message }}</small>
                <small class="">{{ LOOP.Email_email }}</small>
                <small class="">{{ LOOP.Email_date }}</small>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="container">
        <div class="m-lg-5 d-flex justify-content-between align-items-center shadow-sm">
            <strong class="">#</strong>
            <strong class="">Тема</strong>
            <strong class="">Сообщение</strong>
            <strong class="">Адресат</strong>
            <strong class="">Дата</strong>
        </div>
    </div>
    <p>отправленных писем нет</p>
{% endif %}

<form class="form-control" action="{% url 'send_email' %}" method="POST">
    {% csrf_token %}

    <input class="form-control" type="text" required="" placeholder="Тема" name="subject"><br>
    <br>
    <input class="form-control" type="text" required="" placeholder="Сообщение" name="message"><br>
    <br>
    <input class="form-control" type="email" required="" placeholder="Кому отправить" name="to_email"><br>
    <br>

    <div class="btn-group form-control">
        <button class="btn btn-lg btn-outline-primary" type="submit">Отправить письмо</button>
    </div>
</form>

{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}