{% if mails %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center shadow-sm">
            <strong class="">#</strong>
            <strong class="">Тема</strong>
            <strong class="">Сообщение</strong>
            <strong class="">Адресат</strong>
            <strong class="">Дата</strong>
        </div>
        {% for LOOP in mails %}
            <div class="d-flex justify-content-between align-items-center shadow-sm">
                <small class="">{{ forloop.counter }}</small>
                <small class="">{{ LOOP.Email_subject }}</small>
                <small class="">{{ LOOP.Email_message }}</small>
                <small class="">{{ LOOP.Email_email }}</small>
                <small class="">{{ LOOP.Email_date }}</small>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center shadow-sm">
            <h2>отправленных писем нет</h2>
        </div>
    </div>
{% endif %}