{% extends "base/base_third.html" %}
{% load static %}

<!-- Title -->
{% block second_title %}Страница товара{% endblock second_title %}

<!-- Main -->
{% block second_main %}
<div class="container-fluid">
  <hr>
  <h1>Страница товара</h1>
  <hr>
</div>
<div class="container">
    <div class="row">
            <div class="col-9 mx-auto col-md-6 col-lg-3">
                <div class="card-md-4">
                    <div class="card-footer d-flex-justify-content-between">
                        <a class="nav-link text-primary text-uppercase font-weight-bold mb-0" href="{{ products.get_a }}">
                            {{ products.name }}
                        </a>
                        <h1 class="text-primary font-italic mb-0">
                            Цена: {{ products.price }} $
                        </h1>
                        <h4 class="text-info font-italic mb-0">
                            {{ products.created_at }}
                        </h4>
                        <img src="{{ products.image.url }}" class="card-img" alt="{{ product.name }}">
                        <h4 class="text-Warning font-italic mb-0">
                            {{ products.description }}
                        </h4>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock second_main %}