{% extends "base/base_third.html" %}
{% load static %}

<!-- Title -->
{% block second_title %}Личный кабинет{% endblock second_title %}

<!-- Btn-Group -->
{% block second_btn-group %}
<a href="{% url 'personal' %}" class="btn btn-light active" aria-current="page">Основа</a>
<a href="{% url 'personal_sub_first' %}" class="btn btn-secondary">Подменю#1</a>
<a href="{% url 'personal_sub_second' %}" class="btn btn-secondary">Подменю#2</a>
{% endblock second_btn-group %}

<!-- Main -->
{% block second_main %}
<div class="container-fluid">
  <hr>
  <h1>Личный кабинет - Подменю 1</h1>
  <hr>
</div>



{% endblock second_main %}