{% extends "base/base_second.html" %}

{% load static %}

<!-- Head -->
<!-- {% block head %}{% endblock head %} -->

<!-- Title -->
{% block second_title %}{% endblock second_title %}

<!-- Style -->
<!-- {% block style %}{% endblock style %} -->

<!-- Header -->
{% block second_header %}
    {% include 'components/navbar.html' %}
    {% block second_btn-group %}{% endblock second_btn-group %}
{% endblock second_header %}

<!-- Main -->
{% block second_main %}{% endblock second_main %}

<!-- Footer -->
{% block second_footer %}
    {% include 'components/footer.html' %}
{% endblock second_footer %}

<!-- Scripts -->
<!-- {% block script %}{% endblock script %} -->