<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'app_km:home' %}">ГЛАВНАЯ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                development
                                <span class="badge badge-primary badge-pill">
                                    # 5
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Готовые</h6>
                                    <a class="dropdown-item" href="{% url 'app_km:news' %}">app_news</a>
                                    <a class="dropdown-item" href="{% url 'app_km:react' %}">app_react</a>
                                    <a class="dropdown-item" href="{% url 'app_km:example' %}">app_bootstrap_examples</a>
                                    <a class="dropdown-item" href="{% url 'app_km:chat' %}">app_chat</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Экстра</h6>
                                    <a class="dropdown-item" href="{% url 'app_km:email' %}">Электронная почта: общий список</a>
                                    <a class="dropdown-item" href="{% url 'app_km:message' %}">Сообщения: общий список</a>
                                    <a class="dropdown-item" href="{% url 'app_km:documentation' %}">Документация: общий список</a>
                                    <a class="dropdown-item" href="{% url 'app_km:contact' %}">Контакты: общий список</a>
                                    <a class="dropdown-item" href="{% url 'app_km:weather' %}">Погода: общий список</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Геолокация</h6>
                                    <a class="dropdown-item" href="{% url 'app_km:geo' %}">Устройства: список</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Основное
                                <span class="badge badge-primary badge-pill">
                                    # 11
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Основной функционал</h6>
                                    <a class="dropdown-item" href="{% url 'app_km:home' %}">Главная страница</a>
                                    <a class="dropdown-item" href="{% url 'app_km:admin' %}">Панель Администрации</a>
                                    {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'app_km:view_profile' request.user.username %}">Личный кабинет</a>
                                    {% else %}
                                        <strong class="dropdown-item">Личный кабинет [вы не вошли в аккаунт]</strong>
                                    {% endif %}
                                    <a class="dropdown-item disabled" href="{% url 'app_km:notification' %}">Уведомления [{{notification}}]</a>
                                    <a class="dropdown-item disabled" href="#">Достижения</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Аккаунты</h6>
                                    <a class="dropdown-item" href="{% url 'app_km:login' %}">Аккаунт: войти
                                        {% if request.user.is_authenticated %}
                                            [вы уже вошли в аккаунт]
                                        {% endif %}
                                    </a>
                                    <a class="dropdown-item" href="{% url 'app_km:create_user' %}">Аккаунт: создать одного пользователя</a>
                                    <a class="dropdown-item" href="{% url 'app_km:change_user' %}">Аккаунт: изменить данные пользователя</a>
                                    <a class="dropdown-item" href="{% url 'app_km:create_users' %}">Аккаунт: создать пользователей из файла</a>
                                    <a class="dropdown-item" href="{% url 'app_km:create_user_from1c' %}">Аккаунт: создать/удалить/обновить пользователей из 1C</a>
                                    <a class="dropdown-item" href="{% url 'app_km:export_users' %}">Аккаунт: выгрузить пользователей в файл</a>
                                    <a class="dropdown-item" href="{% url 'app_km:generate_password' %}">Аккаунт: сгенерировать один пароль</a>
                                    <a class="dropdown-item" href="{% url 'app_km:generate_passwords' %}">Аккаунт: сгенерировать пароли в файл</a>
                                    <a class="dropdown-item" href="{% url 'app_km:logout' %}">Аккаунт: выйти
                                        {% if request.user.is_authenticated %}
                                            [{{ request.user.first_name }}]
                                        {% else %}
                                            [вы не вошли в аккаунт]
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Бухгалтерия
                                <span class="badge badge-primary badge-pill">
                                    # 1
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Бухгалтерия</h6>
                                    <a class="dropdown-item" href="{% url 'app_km:salary' %}">Выгрузка текущего расчётного листа</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Проектная Деятельность
                                <span class="badge badge-primary badge-pill">
                                    # 2
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Рационализаторство</h6>
                                    <a class="dropdown-item" href="{% url 'app_km:rational' %}">Рационализаторство: список</a>
                                    <a class="dropdown-item" href="{% url 'app_km:rational_create' %}">Рационализаторство: добавить</a>
                                    <a class="dropdown-item disabled" href="#">Рационализаторство: шаблоны</a>
                                    <a class="dropdown-item" href="{% url 'app_km:rational_ratings' %}">Рационализаторство: рейтинги</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Бережливое производство</h6>
                                    <a class="dropdown-item disabled" href="#">Бережливое производство: список</a>
                                    <a class="dropdown-item disabled" href="#">Бережливое производство: добавить</a>
                                    <a class="dropdown-item disabled" href="#">Бережливое производство: шаблоны</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Служба Управления Персоналом
                                <span class="badge badge-primary badge-pill">
                                    # 1
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Отдел кадров</h6>
                                    <a class="dropdown-item" href="{% url 'app_km:career' %}">Вакансии</a>
                                    <a class="dropdown-item disabled" href="#">Выгрузка отпусков</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
                <!-- Btn-Group -->
                <div class="btn-group m-1 p-1">
                    {% block second_btn-group %}{% endblock second_btn-group %}
                </div>
            </ul>
        </div>
    </div>
</nav>