{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Создать пользователя
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}

<main class="container-fluid mx-auto text-center d-block">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

        {% if result_form %}
        {% else %}
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active btn-light btn-lg" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="btn-light btn-lg" aria-label="Slide 2"></button>
            </div>
        {% endif %}

        <div class="carousel-inner">

            {% if result_form %}

                <div class="carousel-item active">
                    <div class="p-sm-5 text-white rounded bg-dark">
                        <h1 class="display-4">Успешно выполнено</h1>
                        <p class="lead">Операция успешно выполнена, вернитесь на главную или повторите операцию</p>
                        <div class="btn-group btn-group-lg" role="group" aria-label="Basic mixed styles example">
                          <a class="btn btn-success active" aria-current="page" href="{% url 'home' %}">Главная</a>
                          <a type="button" class="btn btn-warning" href="{% url 'account_create_accounts' 1 %}">Повторить</a>
                        </div>
                    </div>
                </div>

            {% else %}

                {% if form_1 %}

                    <div class="carousel-item active">
                        <div class="p-sm-1 text-white rounded bg-dark">
                            <h1 class="display-6 fst-italic">Создать пользователя</h1>
                            <p>Эта страница содержит форму для создания одиночного пользователя.
                                <p class="text-secondary">Заполните форму и нажмите подвердить, чтобы создать пользователя.</p>
                            </p>
                        </div>
                        <form class="form-control" action="{% url 'account_create_accounts' 1 %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>{{ form_1|crispy }}</p>
                            <hr>
                            <label class="form-check-label" for="flexCheckDefault">Перезаписать уже существующего пользователя?</label>
                            <div class="form-switch">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="check_1">
                            </div>
                            <hr>
                            <div class="btn-group form-control">
                                <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                            </div>
                        </form>
                    </div>

                {% else %}

                    <div class="carousel-item">
                        <div class="pricing-header px-2 py-2 pt-md-2 pb-md-4 mx-auto text-center">
                            <h1 class="display-4">Данных нет.</h1>
                            <p class="lead">Перезагрузите страницу или ожидайте исправления неполадок.</p>
                        </div>
                    </div>

                {% endif %}

                {% if form_2 %}

                    <div class="carousel-item">
                        <div class="p-sm-1 text-white rounded bg-dark">
                            <h1 class="display-6 fst-italic">Создать пользователей</h1>
                            <p>Эта страница содержит форму для создания пользователей из excel файла-шаблона.
                                <p class="text-secondary">Скачайте файл, заполните строки по примеру, загрузите и нажмите подвердить.</p>
                            </p>
                            <p class="text-danger">Внимание, уже существующие пользователи не будут созданы или изменены.</p>
                            <a class="btn btn-outline-light" href="{% static 'media/data/account/create_users.xlsx' %}">Скачать шаблон добавления пользователей</a>
                        </div>
                        <form class="form-control" action="{% url 'account_create_accounts' 2 %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>{{ form_2|crispy }}</p>
                            <hr>
                            <label class="form-check-label" for="flexCheckDefault">Перезаписать уже существующих пользователей?</label>
                            <div class="form-switch">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="check_2">
                            </div>
                            <hr>
                            <div class="btn-group form-control">
                                <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                            </div>
                        </form>
                    </div>

                {% else %}

                    <div class="carousel-item">
                        <div class="pricing-header px-2 py-2 pt-md-2 pb-md-4 mx-auto text-center">
                            <h1 class="display-4">Данных нет.</h1>
                            <p class="lead">Перезагрузите страницу или ожидайте исправления неполадок.</p>
                        </div>
                    </div>

                {% endif %}

            {% endif %}

        </div>

        {% if result_form %}
        {% else %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        {% endif %}

    </div>
</main>

{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}