{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить пароль
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container-fluid mx-auto text-center d-block">

{% if result %}

    {% include 'components/success.html' %}

{% else %}

    <div class="text-white rounded bg-dark">
        <h1 class="display-6 fst-italic">Восстановить пароль</h1>
        <p class="text-secondary">Эта страница содержит форму для восстановления пароля пользователя.</p>
    </div>

    {% if form_1 %}

        <form class="form-control" action="{% url 'account_recover_password' 0 %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="form-label">Введите свой Идентификатор Пользователя</label>
            <input type="text" class="form-control" required="" minlength="12" maxlength="12" placeholder="000000 000000" value="000000 000000" name="username">
            <button class="form-control btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
        </form>

    {% else %}
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link mx-auto btn btn-lg btn-outline-dark" id="nav-1-tab" data-bs-toggle="tab" data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-1" aria-selected="true">секретный ответ</a>
                <a class="nav-link mx-auto btn btn-lg btn-outline-dark" id="nav-2-tab" data-bs-toggle="tab" data-bs-target="#nav-2" type="button" role="tab" aria-controls="nav-2" aria-selected="true">почту</a>
                <a class="nav-link mx-auto btn btn-lg btn-outline-dark" id="nav-3-tab" data-bs-toggle="tab" data-bs-target="#nav-3" type="button" role="tab" aria-controls="nav-3" aria-selected="true">обращение в тех. поддержку</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">

                {% if data.profile.secret_question and data.profile.secret_answer %}
                    <form class="form-control" action="{% url 'account_recover_password' 1 %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>
                        <label class="form-control text-start">Введите ответ на свой секретный вопрос: "{{ data.profile.secret_question }}">
                            <input type="text" class="form-control d-none" required="" value="{{ data.username }}" name="username">
                            <br>
                            <input type="text" class="form-control" required="" placeholder="Ответ" value="" name="secret_answer">
                            <hr>
                            <input type="text" class="form-control" required="" minlength="8" maxlength="30" placeholder="Новый пароль" value="" name="password1">
                            <input type="text" class="form-control" required="" minlength="8" maxlength="30" placeholder="Повторите пароль" value="" name="password2">
                        </label>
                        <button class="form-control btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                    </form>
                {% else %}
                    <div class="text-white rounded bg-dark">
                        <h1 class="display-6 fst-italic">Секретный вопрос и/или ответ на указаны!</h1>
                    </div>
                {% endif %}

            </div>
            <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">

                {% if data.profile.email %}
                    <form class="form-control" action="{% url 'account_recover_password' 2 %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" class="form-control d-none" required="" value="{{ data.username }}" name="username">
                        <label class="form-label">Нажмите подтвердить, чтобы послать пароль на указанную ранее почту: ("{{ data.profile.secret_answer }}")</label>
                        <button class="form-control btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                    </form>
                {% else %}
                    <div class="text-white rounded bg-dark">
                        <h1 class="display-6 fst-italic">Почта не указана!</h1>
                    </div>
                {% endif %}

            </div>
            <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">

                <div class="rounded">
                    <h1 class="display-6 fst-italic">Если вы не можете использовать первые два способа восстановления пароля то, согласно
                        принятого Положения. Обращайтесь к начальнику отдела, те, в свою очередь, обращаются к сетевому администратору!</h1>
                </div>

            </div>
        </div>

    {% endif %}

{% endif %}

</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}