{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить пароль
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}



<div class="text-center bg-dark text-white">
    <h1 class="display-6 fst-italic">Изменить пароль</h1>
    <small class="text-secondary">Эта страница содержит форму для изменения пароля пользователя.</small>
</div>

{% if response == 1 %}

    {% include 'components/success.html' %}

{% elif response == -1 %}

    {% include 'components/aborted.html' %}

{% else %}

    <form action="{% url 'account_change_password' %}" {# action="/home" #} {# action="http://127.0.0.1:8000/examples/" #}
          method="POST" {# method="GET" #}
          target="_self" {# target="_self" #} {# target="_blank" #} {# target="_parent" #} {# target="_top" #}
          enctype="multipart/form-data"
          name="account_change_password"
          autocomplete="on"
          class="text-center" {# class="text-center form-control form-control-lg" #}
    >
        {% csrf_token %}
        <div>
            <div>
                <label class="form-control-lg">
                    Введите новый пароль для входа в аккаунт:
                    <input type="password"
                           id="password_1"
                           name="password_1"
                           required=""
                           placeholder="{{ request.user.profile.password }}"
                           value="{{ request.user.profile.password }}"
                           minlength="8"
                           maxlength="16"
                           class="form-control form-control-lg"
                    />
                    <small class="text-muted">пароль: от 8 до 16 символов</small>
                </label>

                <label class="form-control-lg">
                    Повторите новый пароль:
                    <input type="password"
                           id="password_2"
                           name="password_2"
                           required=""
                           placeholder="{{ request.user.profile.password }}"
                           value="{{ request.user.profile.password }}"
                           minlength="8"
                           maxlength="16"
                           class="form-control form-control-lg"
                    />
                    <small class="text-muted">пароль: от 8 до 16 символов</small>
                </label>
            </div>

            <div>
                <label class="form-control-lg">
                    Электронная почта для восстановления аккаунта:
                    <input type="email"
                           id="email"
                           name="email"
                           required=""
                           placeholder="{{ request.user.profile.email }}"
                           value="{{ request.user.profile.email }}"
                           minlength="1"
                           maxlength="64"
                           class="form-control form-control-lg"
                    />
                    <small class="text-muted">пример: bogdandrienko@gmail.com</small>
                </label>
            </div>

            <div>
                <label class="form-control-lg">
                    Секретный вопрос, для восстановления аккаунта:
                    <input type="text"
                           id="secret_question"
                           name="secret_question"
                           required=""
                           placeholder="{{ request.user.profile.secret_question }}"
                           value="{{ request.user.profile.secret_question }}"
                           minlength="4"
                           maxlength="30"
                           class="form-control form-control-lg"
                    />
                    <small class="text-muted">вопрос: длина от 4 до 30 символов</small>
                </label>

                <label class="form-control-lg">
                    Ответ на секретный вопрос:
                    <input type="text"
                           id="secret_answer"
                           name="secret_answer"
                           required=""
                           placeholder="{{ request.user.profile.secret_answer }}"
                           value="{{ request.user.profile.secret_answer }}"
                           minlength="1"
                           maxlength="20"
                           class="form-control form-control-lg"
                    />
                    <small class="text-muted">ответ: длина от 1 до 20 символов</small>
                </label>
            </div>
        </div>
        <hr/>
        <div class="form-control btn-group btn-group-lg">
            <button href=""
                    type="submit"
                    class="w-100 form-control btn btn-lg btn-outline-primary"
            >Подтвердить</button>
            <button href=""
                    type="reset"
                    class="w-100 form-control btn btn-lg btn-outline-warning"
            >Сбросить</button>
        </div>
    </form>

{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}