{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Выгрузить пользователей
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container-fluid mx-auto text-center d-block">

{% if result %}

    {% include 'components/success.html' %}
    <div class="text-white rounded bg-dark">
        <a class="btn btn-outline-light" href="{% static 'media/data/account/export_users.xlsx' %}">Скачать результат выгрузки</a>
    </div>

    {% if data %}

        {% include 'components/table.html' %}

    {% else %}

        {% include 'components/aborted.html' %}

    {% endif %}

{% else %}

    <div class="text-white rounded bg-dark">
        <h1 class="display-6 fst-italic">Выгрузить пользователей</h1>
        <p class="text-secondary">Эта страница содержит форму для выгрузки пользователей.</p>
    </div>

    <form class="form-control" action="{% url 'account_export_accounts' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_1|crispy }}
        <button class="form-control btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
    </form>

{% endif %}

</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}