{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Войти в аккаунт
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container-fluid mx-auto text-center d-block">

{% if result > 0 %}

    {% include 'components/success.html' %}

{% else %}

    <div class="text-white rounded bg-dark">
        <h1 class="display-6 fst-italic">Войти в аккаунт</h1>
        <p class="text-secondary">Эта страница содержит форму для входа пользователя.</p>
    </div>

    {% if result == -1 %}

        {% if data <= 10 %}

            <p class="lead text-danger">Вы ввели неверные имя пользователя и/или пароль! Количество попыток входа за последний час: {{ data }} (разрешено не больше 10 в час)</p>

        {% else %}

            <p class="lead text-danger">Вы превысили количество попыток входа! Количество попыток входа за последний час: {{ data }} (разрешено не больше 10 в час)</p>

        {% endif %}

    {% endif %}

    <form action="{% url 'account_login' %}"
          method="POST"
          target="_self"
          enctype="multipart/form-data"
          name="account_login"
          autocomplete="on"
          class=""
    >
        {% csrf_token %}
        <div>
            <div>
                <div class="form-floating">
                    <input type="text"
                           id="username"
                           name="username"
                           required=""
                           placeholder="_"
                           value=""
                           minlength="12"
                           maxlength="12"
                           class="form-control form-control-lg"/>
                    <label for="username"
                           class="form-control-lg">Введите сюда Ваш "идентификатор" пользователя</label>
                    <small class="text-muted">иин: 12 цифр</small>
                </div>

                <div class="form-floating">
                    <input type="password"
                           id="password"
                           name="password"
                           required=""
                           placeholder="_"
                           value=""
                           minlength="8"
                           maxlength="16"
                           class="form-control form-control-lg"/>
                    <label for="password"
                           class="form-control-lg">Введите сюда пароль для входа в аккаунт:</label>
                    <small class="text-muted">пароль: от 8 до 16 символов</small>
                </div>
            </div>

            <div>
                <label class="form-control-lg">
                    Введите Ваш идентификатор пользователя:
                    <input type="text"
                           id="username"
                           name="username"
                           required=""
                           placeholder=""
                           value=""
                           minlength="12"
                           maxlength="12"
                           class="form-control form-control-lg"/>
                    <small class="text-muted">ИИН: 12 цифр</small>
                </label>

                <label class="form-control-lg">
                    Введите пароль для входа в аккаунт:
                    <input type="password"
                           id="password"
                           name="password"
                           required=""
                           placeholder=""
                           value=""
                           minlength="8"
                           maxlength="16"
                           class="form-control form-control-lg"/>
                    <small class="text-muted">пароль: от 8 до 16 символов</small>
                </label>
            </div>
        </div>
        <div class="btn-group btn-group-lg">
            <button href=""
                    type="submit"
                    class="w-100 form-control btn btn-lg btn-outline-primary" >Войти в систему</button>
            <button href=""
                    type="reset"
                    class="w-100 form-control btn btn-lg btn-outline-warning" >Сбросить данные</button>
            <a href="{% url 'account_recover_password' 0 %}"
        {#               type=""#}
               class="w-100 form-control btn btn-lg btn-outline-danger">Восстановить доступ</a>
        </div>
    </form>

{% endif %}

</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/new_footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}