{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить пароль
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container-fluid mx-auto text-center d-block">

{% if result %}

    {% include 'components/success.html' %}

{% else %}

{% if form_1 %}

    <div class="text-white rounded bg-dark">
        <h1 class="display-6 fst-italic">Изменить пароль</h1>
        <p class="text-secondary">Эта страница содержит форму для изменения пароля пользователя.</p>
    </div>

    <form class=""
          action="{% url 'account_change_password' %}"
          method="POST"
          target="_self"
          enctype="multipart/form-data"
          name="account_change_password"
          autocomplete="on"
    >
        {% csrf_token %}
        <div>
            <div>
                <label class="form-control-lg">
                    Введите новый пароль для входа в аккаунт:
                    <input class="form-control form-control-lg"
                           type="password"
                           id="password_1"
                           name="password_1"
                           required=""
                           placeholder="{{ request.user.profile.password }}"
                           value="{{ request.user.profile.password }}"
                           minlength="8"
                           maxlength="16"/>
                    <small class="text-muted">пароль: от 8 до 16 символов</small>
                </label>

                <label class="form-control-lg">
                    Повторите новый пароль:
                    <input class="form-control form-control-lg"
                           type="password"
                           id="password_2"
                           name="password_2"
                           required=""
                           placeholder="{{ request.user.profile.password }}"
                           value="{{ request.user.profile.password }}"
                           minlength="8"
                           maxlength="16"/>
                    <small class="text-muted">пароль: от 8 до 16 символов</small>
                </label>
            </div>
            <div>
                <label class="form-control-lg">
                    Электронная почта для восстановления аккаунта:
                    <input class="form-control form-control-lg"
                           type="email"
                           id="email"
                           name="email"
                           required=""
                           placeholder="{{ request.user.profile.email }}"
                           value="{{ request.user.profile.email }}"
                           minlength="1"
                           maxlength="64"/>
                    <small class="text-muted">пример: bogdandrienko@gmail.com</small>
                </label>
            </div>
            <div>
                <label class="form-control-lg">
                    Секретный вопрос, для восстановления аккаунта:
                    <input class="form-control form-control-lg"
                           type="text"
                           id="secret_question"
                           name="secret_question"
                           required=""
                           placeholder="{{ request.user.profile.secret_question }}"
                           value="{{ request.user.profile.secret_question }}"
                           minlength="4"
                           maxlength="30"/>
                    <small class="text-muted">вопрос: длина от 4 до 30 символов</small>
                </label>

                <label class="form-control-lg">
                    Ответ на секретный вопрос:
                    <input class="form-control form-control-lg"
                           type="text"
                           id="secret_answer"
                           name="secret_answer"
                           required=""
                           placeholder="{{ request.user.profile.secret_answer }}"
                           value="{{ request.user.profile.secret_answer }}"
                           minlength="1"
                           maxlength="20"/>
                    <small class="text-muted">ответ: длина от 1 до 20 символов</small>
                </label>
            </div>
        </div>
        <div class="btn-group btn-group-lg">
            <button href=""
                    type="submit"
                    class="w-100 form-control btn btn-lg btn-outline-primary">Сохранить изменения</button>
            <button href=""
                    type="reset"
                    class="w-100 form-control btn btn-lg btn-outline-warning">Сбросить данные</button>
        </div>
    </form>

    {% else %}

        {% include 'components/aborted.html' %}

    {% endif %}

{% endif %}

</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}