{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Выгрузить пользователей
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container-fluid mx-auto text-center d-block">

{% if result %}

    {% include 'components/success.html' %}

    <div class="rounded">
        <a class="w-100 btn btn-lg btn-outline-success" href="{% static 'media/data/account/export_users.xlsx' %}">Скачать результат выгрузки</a>
    </div>

    {% if data %}

        {% include 'components/table.html' %}

    {% else %}

        {% include 'components/aborted.html' %}

    {% endif %}

{% else %}

    <div class="text-white rounded bg-dark">
        <h1 class="display-6 fst-italic">Выгрузить пользователей</h1>
        <p class="text-secondary">Эта страница содержит форму для выгрузки пользователей.</p>
    </div>

    <form action="{% url 'account_export_accounts' %}"
          method="POST"
          target="_self"
          enctype="multipart/form-data"
          name="account_export_accounts"
          autocomplete="on"
          class=""
    >
        {% csrf_token %}
        <div>
            <label class="form-control-lg">
                Нажмите, чтобы выгрузить пользователей системы:
                <small class="text-muted">данные будут доступны в виде таблицы и excel-файла</small>
            </label>
        </div>
        <div class="btn-group btn-group-lg">
            <button href=""
                    type="submit"
                    class="w-100 form-control btn btn-lg btn-outline-primary"
            >Выгрузить</button>
        </div>
    </form>

{% endif %}

</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}