{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить личный профиль
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}



<div class="text-center">
    <h1 class="display-6 fst-italic">Изменить личный профиль</h1>
    <small class="text-secondary">Эта страница содержит форму для изменения личного профиля.</small>
</div>

{% if response == 1 %}

    {% include 'components/success.html' %}

{% elif response == -1 %}

    {% include 'components/aborted.html' %}

{% else %}


    <p class="lead text-center display-6">Идентификатор пользователя: "{{ request.user.username }}"</p>

    <form action="{% url 'account_change_profile' %}" {# action="/home" #} {# action="http://127.0.0.1:8000/examples/" #}
          method="POST" {# method="GET" #}
          target="_self" {# target="_self" #} {# target="_blank" #} {# target="_parent" #} {# target="_top" #}
          enctype="multipart/form-data"
          name="account_change_profile"
          autocomplete="on"
          class="text-center" {# class="text-center form-control form-control-lg" #}
    >
        {% csrf_token %}
        <div>
            <div>
                <label class="form-control form-control-lg">
                    Образование:
                    <textarea type="text"
                              id="education"
                              name="education"
    {#                          required=""#}
                              {% if request.user.profile.education %}
                                    placeholder="{{ request.user.profile.education }}"
                              {% else %}
                                    placeholder=""
                              {% endif %}
                              minlength="1"
                              maxlength="500"
                              rows="3"
                              class="form-control form-control-lg"
                    >{% if request.user.profile.education %}{{ request.user.profile.education }}{% endif %}</textarea>
                    <small class="text-muted">введите информацию о своём образовании: максимум 500 символов</small>
                </label>

                <label class="form-control form-control-lg">
                    Достижения:
                    <textarea type="text"
                              id="achievements"
                              name="achievements"
    {#                          required=""#}
                              {% if request.user.profile.achievements %}
                                    placeholder="{{ request.user.profile.achievements }}"
                              {% else %}
                                    placeholder=""
                              {% endif %}
                              minlength="1"
                              maxlength="500"
                              rows="3"
                              class="form-control form-control-lg"
                    >{% if request.user.profile.achievements %}{{ request.user.profile.achievements }}{% endif %}</textarea>
                    <small class="text-muted">введите информацию о своих достижениях: максимум 500 символов</small>
                </label>

                <label class="form-control form-control-lg">
                    Биография:
                    <textarea type="text"
                              id="biography"
                              name="biography"
    {#                          required=""#}
                              {% if request.user.profile.biography %}
                                    placeholder="{{ request.user.profile.biography }}"
                              {% else %}
                                    placeholder=""
                              {% endif %}
                              minlength="1"
                              maxlength="500"
                              rows="3"
                              class="form-control form-control-lg"
                    >{% if request.user.profile.biography %}{{ request.user.profile.biography }}{% endif %}</textarea>
                    <small class="text-muted">введите информацию о своей биографии: максимум 500 символов</small>
                </label>

                <label class="form-control form-control-lg">
                    Хобби:
                    <textarea type="text"
                              id="hobbies"
                              name="hobbies"
    {#                          required=""#}
                              {% if request.user.profile.hobbies %}
                                    placeholder="{{ request.user.profile.hobbies }}"
                              {% else %}
                                    placeholder=""
                              {% endif %}
                              minlength="1"
                              maxlength="500"
                              rows="3"
                              class="form-control form-control-lg"
                    >{% if request.user.profile.hobbies %}{{ request.user.profile.hobbies }}{% endif %}</textarea>
                    <small class="text-muted">введите информацию о своём хобби: максимум 500 символов</small>
                </label>
            </div>

            <div>
                {% if request.user.profile.image_avatar %}
                    <img class="bd-placeholder-img"
                         src="{{ request.user.profile.image_avatar.url }}"
                         width="256px"
                         height="100%"
                         alt="{{ request.user.profile.firstname }}"
                    >
                {% else %}
                    <img class="bd-placeholder-img"
                         src="{% static 'media/uploads/account/avatar/default.jpg' %}"
                         width="256px"
                         height="100%"
                         alt="{{ request.user.profile.firstname }}"
                    >
                {% endif %}

                <label class="form-control-lg">
                    Аватарка профиля:
                    <input type="file"
                           id="image_avatar"
                           name="image_avatar"
                           required=""
                           accept="image/*"
                           class="form-control form-control-lg"
                    />
                    <small class="text-muted">выберите аватарку профиля, только формат изображений</small>
                </label>
            </div>
        </div>
        <hr/>
        <!-- Grid row -->
        <div class="container-fluid btn-group row pb-1">
            <!-- Grid column -->
            <div class="col-lg-6">
                <button href=""
                        type="submit"
                        class="w-100 form-control btn btn-lg btn-outline-primary"
                >Подтвердить</button>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6">
                <button href=""
                        type="reset"
                        class="w-100 form-control btn btn-lg btn-outline-warning"
                >Сбросить</button>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </form>

{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}