{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить пароль
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container-fluid mx-auto text-center d-block">

<div class="text-white rounded bg-dark">
    <h1 class="display-6 fst-italic">Восстановить пароль</h1>
    <p class="text-secondary">Эта страница содержит форму для восстановления пароля пользователя.</p>
</div>

{% if result == 2 %}

    {% include 'components/success.html' %}

{% else %}

    {% if result == 0 or result == -1 %}

        {% if value and value <= 10 %}

            <p class="lead text-danger">Вы ввели несуществующего пользователя! Количество попыток входа за последний час: {{ value }} (разрешено не больше 10 в час)</p>

        {% elif value and value > 10 %}

            <p class="lead text-danger">Вы превысили количество попыток входа! Количество попыток входа за последний час: {{ value }} (разрешено не больше 10 в час)</p>

        {% endif %}

        <form action="{% url 'account_recover_password' 'iin' %}"
              method="POST"
              target="_self"
              enctype="multipart/form-data"
              name="account_recover_password iin"
              autocomplete="on"
              class=""
        >
            {% csrf_token %}
            <div>
                <div>
                    <label class="form-control-lg">
                        Введите Ваш идентификатор пользователя:
                        <input type="text"
                               id="username"
                               name="username"
                               required=""
                               placeholder=""
                               value=""
                               minlength="12"
                               maxlength="12"
                               class="form-control form-control-lg"/>
                        <small class="text-muted">ИИН: 12 цифр</small>
                    </label>
                </div>
            </div>
            <div class="btn-group btn-group-lg">
                <button href=""
                        type="submit"
                        class="w-100 form-control btn btn-lg btn-outline-primary">Восстановить</button>
                <button href=""
                        type="reset"
                        class="w-100 form-control btn btn-lg btn-outline-warning">Сбросить данные</button>
            </div>
        </form>

    {% else %}

        <p>
            <a class="btn btn-lg btn-outline-dark"
               data-bs-toggle="collapse"
               href="#multiCollapseExample1"
               role="button"
               aria-expanded="false"
               aria-controls="multiCollapseExample1"
            >Восстановить через секретный вопрос</a>
            <button class="btn btn-lg btn-outline-dark"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapseExample2"
                    aria-expanded="false"
                    aria-controls="multiCollapseExample2"
            >Восстановить через указанную почту</button>
            <button class="btn btn-lg btn-outline-dark"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapseExample3"
                    aria-expanded="false"
                    aria-controls="multiCollapseExample3"
            >Восстановить через обращение к администраторам</button>
            <button class="btn btn-lg btn-outline-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target=".multi-collapse"
                    aria-expanded="false"
                    aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3"
            >Все варианты восстановления</button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">

                        {% if data.profile.secret_question and data.profile.secret_answer %}

                            <form action="{% url 'account_recover_password' 'secret_answer' %}"
                                  method="POST"
                                  target="_self"
                                  enctype="multipart/form-data"
                                  name="account_recover_password secret_answer"
                                  autocomplete="on"
                                  class=""
                            >
                                {% csrf_token %}
                                <div>
                                    <div>
                                        <label class="form-control-lg">
                                            <input type="text"
                                                   id="username"
                                                   name="username"
                                                   required=""
                                                   placeholder=""
                                                   value="{{ data.username }}"
{#                                                       minlength="1"#}
{#                                                       maxlength="20"#}
                                                   class="form-control form-control-lg d-none"/>
                                        </label>

                                        <label class="form-control-lg">
                                            Ответ на секретный вопрос: "{{ data.profile.secret_question }}"
                                            <input type="text"
                                                   id="secret_answer"
                                                   name="secret_answer"
                                                   required=""
                                                   placeholder=""
                                                   value=""
                                                   minlength="1"
                                                   maxlength="20"
                                                   class="form-control form-control-lg"/>
                                            <small class="text-muted">ответ: длина от 1 до 20 символов</small>
                                        </label>
                                    </div>
                                    <hr>
                                    <div>
                                        <label class="form-control-lg">
                                            Введите новый пароль:
                                            <input type="password"
                                                   id="password_1"
                                                   name="password_1"
                                                   required=""
                                                   placeholder=""
                                                   value=""
                                                   minlength="8"
                                                   maxlength="16"
                                                   class="form-control form-control-lg"/>
                                            <small class="text-muted">пароль: от 8 до 16 символов</small>
                                        </label>

                                        <label class="form-control-lg">
                                            Повторите новый пароль:
                                            <input type="password"
                                                   id="password_2"
                                                   name="password_2"
                                                   required=""
                                                   placeholder=""
                                                   value=""
                                                   minlength="8"
                                                   maxlength="16"
                                                   class="form-control form-control-lg"/>
                                            <small class="text-muted">пароль: от 8 до 16 символов</small>
                                        </label>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-lg">
                                    <button href=""
                                            type="submit"
                                            class="w-100 form-control btn btn-lg btn-outline-primary"
                                    >Изменить пароль</button>
                                    <button href=""
                                            type="reset"
                                            class="w-100 form-control btn btn-lg btn-outline-warning"
                                    >Сбросить данные</button>
                                </div>
                            </form>

                        {% else %}

                            <div class="text-white rounded bg-dark">
                                <h1 class="display-6 fst-italic">Секретный вопрос и/или ответ на указаны!</h1>
                            </div>

                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">

                        {% if data.profile.email %}

                            <form action="{% url 'account_recover_password' 'email' %}"
                                  method="POST"
                                  target="_self"
                                  enctype="multipart/form-data"
                                  name="account_recover_password email"
                                  autocomplete="on"
                                  class=""
                            >
                                {% csrf_token %}
                                <div>
                                    <label class="form-control-lg">
                                        <input type="text"
                                               id="username"
                                               name="username"
                                               required=""
                                               placeholder=""
                                               value="{{ data.username }}"
{#                                                       minlength="1"#}
{#                                                       maxlength="20"#}
                                               class="form-control form-control-lg d-none"/>
                                    </label>

                                    <label class="form-control-lg">
                                        Нажмите, чтобы послать пароль на указанную ранее почту:
                                        <small class="text-muted">"{{ data.profile.email }}"</small>
                                    </label>
                                </div>
                                <div class="btn-group btn-group-lg">
                                    <button href=""
                                            type="submit"
                                            class="w-100 form-control btn btn-lg btn-outline-primary"
                                    >Послать</button>
                                </div>
                            </form>

                        {% else %}

                            <div class="text-white rounded bg-dark">
                                <h1 class="display-6 fst-italic">Почта не указана!</h1>
                            </div>

                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div class="card card-body">
                        <div class="rounded">
                            <h1 class="display-6 fst-italic">Если вы не можете использовать первые два способа восстановления
                                пароля то, согласно принятого Положения. Обращайтесь к начальнику отдела/заму по развитию,
                                те, в свою очередь, обращаются к сетевому администратору!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endif %}

</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}