{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить данные пользователя
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}

<main class="container-fluid mx-auto text-center d-block">

    {% if result_form %}

        <div class="p-sm-5 text-white rounded bg-dark">
            <h1 class="display-4">Успешно выполнено</h1>
            <p class="lead">Операция успешно выполнена, вернитесь на главную или повторите операцию</p>
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic mixed styles example">
              <a class="btn btn-success active" aria-current="page" href="{% url 'home' %}">Главная</a>
              <a type="button" class="btn btn-warning" href="{% url 'account_change_account' data.username %}">Повторить</a>
            </div>
        </div>

    {% else %}

        {% if form and data.username is not 0 %}

            <div class="p-sm-5 text-white rounded bg-dark">
                <h1 class="display-1 fst-italic">Изменить данные пользователя</h1>
                <p class="display-5">Эта страница содержит форму для изменения данных выбранного пользователя.
                    <p class="display-6">id: {{ data.username }}</p>
                </p>
            </div>

            <form class="form-control" action="{% url 'account_change_account' data.username %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form|crispy }}</p>
                <div class="btn-group form-control">
                    <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                </div>
            </form>

        {% else %}

            <div class="pricing-header px-2 py-2 pt-md-2 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Данных нет.</h1>
                <p class="lead">Перезагрузите страницу или ожидайте исправления неполадок.</p>
                <a type="button" class="btn btn-warning" href="{% url 'account_change_account' request.user.username %}">Перейти</a>
            </div>

        {% endif %}

    {% endif %}
</main>

{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}