{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить личный профиль
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container-fluid mx-auto text-center d-block">

{% if result %}

    {% include 'components/success.html' %}

{% else %}

    {% if form_1 %}

        <div class="text-white rounded bg-dark">
            <h1 class="display-6 fst-italic">Изменить личный профиль</h1>
            <p class="text-secondary">Эта страница содержит форму для изменения личного профиля.</p>
            <p class="display-6">Идентификатор пользователя: {{ request.user.username }}</p>
        </div>

        <form class=""
              action="{% url 'account_change_profile' %}"
              method="POST"
              target="_self"
              enctype="multipart/form-data"
              name="account_change_profile"
              autocomplete="on"
        >
            {% csrf_token %}
            <div>
                <label class="form-control form-control-lg">
                    Образование:
                    <textarea class="form-control form-control-lg"
                       type="text"
                       id="education"
                       name="education"
                       required=""
                       placeholder="{{ request.user.profile.education }}"
                       minlength="1"
                       maxlength="500"
                       rows="5"
                    >{{ request.user.profile.education }}</textarea>
                    <small class="text-muted">введите информацию о своём образовании: максимум 500 символов</small>
                </label>

                <label class="form-control form-control-lg">
                    Достижения:
                    <textarea class="form-control form-control-lg"
                       type="text"
                       id="achievements"
                       name="achievements"
                       required=""
                       placeholder="{{ request.user.profile.achievements }}"
                       minlength="1"
                       maxlength="500"
                       rows="5"
                    >{{ request.user.profile.achievements }}</textarea>
                    <small class="text-muted">введите информацию о своих достижениях: максимум 500 символов</small>
                </label>

                <label class="form-control form-control-lg">
                    Биография:
                    <textarea class="form-control form-control-lg"
                       type="text"
                       id="biography"
                       name="biography"
                       required=""
                       placeholder="{{ request.user.profile.biography }}"
                       minlength="1"
                       maxlength="500"
                       rows="5"
                    >{{ request.user.profile.biography }}</textarea>
                    <small class="text-muted">введите информацию о своей биографии: максимум 500 символов</small>
                </label>

                <label class="form-control form-control-lg">
                    Хобби:
                    <textarea class="form-control form-control-lg"
                       type="text"
                       id="hobbies"
                       name="hobbies"
                       required=""
                       placeholder="{{ request.user.profile.hobbies }}"
                       minlength="1"
                       maxlength="500"
                       rows="5"
                    >{{ request.user.profile.hobbies }}</textarea>
                    <small class="text-muted">введите информацию о своём хобби: максимум 500 символов</small>
                </label>
            </div>
            <div class="form-control form-control-lg">
                {% if request.user.profile.image_avatar %}
                    <img class="bd-placeholder-img"
                         src="{{ request.user.profile.image_avatar.url }}"
                         width="256px"
                         height="100%"
                         alt="{{ request.user.profile.firstname }}">
                {% else %}
                    <img class="bd-placeholder-img"
                         src="{% static 'media/uploads/account/avatar/default.jpg' %}"
                         width="256px"
                         height="100%"
                         alt="{{ request.user.profile.firstname }}">
                {% endif %}

                <label class="form-control form-control-lg">
                    Аватарка профиля:
                    <input class="form-control form-control-lg"
                       type="file"
                       id="image_avatar"
                       name="image_avatar"
                       required=""
                       placeholder="{{ request.user.profile.image_avatar }}"
                       value="{{ request.user.profile.image_avatar }}"
                       accept="image/*"/>
                    <small class="text-muted">выберите аватарку профиля, только формат изображений</small>
                </label>
            </div>
            <div class="btn-group btn-group-lg">
                <button href=""
                        type="submit"
                        class="w-100 form-control btn btn-lg btn-outline-primary">Сохранить изменения</button>
                <button href=""
                        type="reset"
                        class="w-100 form-control btn btn-lg btn-outline-warning">Сбросить данные</button>
            </div>
        </form>

    {% else %}

        {% include 'components/aborted.html' %}

    {% endif %}

{% endif %}

</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}