<div class="footer-bottom text-muted">
    <div class="container-fluid d-flex flex-row align-items-end">

        <div class="container-fluid">
            <p>Copyright © 2021. Все права защищены.</p>
        </div>

        <div class="container-fluid">
            <h5 class="font-weight-bold text-uppercase mt-1 mb-2">Дополнительная информация</h5>
            <p>Тут однажды будет умная цитата, а пока что, иди и займись чем-нибудь.</p>
        </div>

        <div class="container-fluid col-md-1 mx-1 d-flex align-items-end">
            <div class="space-between">
                <li class="navbar navbar-expand-lg navbar-dark dropup bg-dark nav-item font-weight-bold">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ссылки<span class="badge badge-primary badge-pill">#7</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                        <li>
                            <h6 class="dropdown-header">Соцсети</h6>
                        </li>
                        <li><a class="dropdown-item" href="https://www.google.com/search?newwindow=1&sxsrf=ALeKk0018Jnk69RCIw3FrEpMx8ZGqKDmNg%3A1607885469090&ei=nWLWX7v6BKatrgTqtaO4AQ&q=%D0%A5%D1%80%D0%BE%D0%BC%D0%B0%233750&oq=%D0%A5%D1%80%D0%BE%D0%BC%D0%B0%233750&gs_lcp=CgZwc3ktYWIQAzoECAAQRzoHCCMQ6gIQJ1DGHVjXRmD2SGgCcAJ4AIABfIgB4QGSAQMwLjKYAQCgAQGgAQKqAQdnd3Mtd2l6sAEKyAEIwAEB&sclient=psy-ab&ved=0ahUKEwj7vOWR0MvtAhWmlosKHeraCBcQ4dUDCA0&uact=5">Дискорд</a></li>
                        <li><a class="dropdown-item" href="https://vk.com/id213894818">Вконтакте</a></li>
                        <li><a class="dropdown-item" href="https://www.facebook.com/people/%D0%91%D0%BE%D0%B3%D0%B4%D0%B0%D0%BD-%D0%90%D0%BD%D0%B4%D1%80%D0%B8%D0%B5%D0%BD%D0%BA%D0%BE/100037070403278">Фейсбук</a></li>
                        <li><a class="dropdown-item" href="https://www.instagram.com/bogd_an_drienko/">Инстаграм</a></li>
                        <li><a class="dropdown-item" href="https://ok.ru/profile/553696082041">Одноклассники</a></li>
                        <li><a class="dropdown-item" href="https://my.mail.ru/list/andrienko.1997/">Майл</a></li>
                        <li><a class="dropdown-item" href="https://www.google.com/search?q=%2B+7+747+261+03+59&oq=%2B+7+747+261+03+59&aqs=chrome..69i57.6231j0j15&sourceid=chrome&ie=UTF-8">Телеграм</a></li>
                        <li><a class="dropdown-item" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRlRHmxfktnHkBDpkPPsRSPVhnkVRXKdXsMnlbwnpnsvNZfHClvpKklCSLQdmrgPDnflDkL">Гугл</a></li>
                        <li>
                            <hr class="dropdown-divider text-light">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Сотовый</h6>
                        </li>
                        <li><a class="dropdown-item disabled" href="https://www.google.com/search?q=%2B+7+747+261+03+59&oq=%2B+7+747+261+03+59&aqs=chrome..69i57.6231j0j15&sourceid=chrome&ie=UTF-8">+7 747 261 03 59</a></li>
                        <li>
                            <hr class="dropdown-divider text-light">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Рабочий</h6>
                        </li>
                        <li><a class="dropdown-item disabled" href="https://www.google.com/search?q=28+80&oq=28+80&aqs=chrome..69i57j0l7.3496j0j15&sourceid=chrome&ie=UTF-8">28 80</a></li>
                        <li>
                            <hr class="dropdown-divider text-light">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Почта</h6>
                        </li>
                        <li><a class="dropdown-item disabled" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRlRHmxfktnHkBDpkPPsRSPVhnkVRXKdXsMnlbwnpnsvNZfHClvpKklCSLQdmrgPDnflDkL">bogdandrienko@gmail.com</a></li>
                    </ul>
                </li>
            </div>
        </div>

        <li class="list-inline-item p-1">
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRlRHmxfktnHkBDpkPPsRSPVhnkVRXKdXsMnlbwnpnsvNZfHClvpKklCSLQdmrgPDnflDkL" class="btn btn-danger btn-rounded">Проблемы или вопросы!</a>
        </li>
        
    </div>
</div>