{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}Домашняя{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<div class="container-fluid">
    <div class="container d-flex text-center">
        <div class="container">
            <a class="btn btn-lg btn-outline-secondary fa-border shadow-lg" href="{% url 'app_application:application_list' %}">
                <img src="{% static 'icons/024-globe.png' %}" class="img-fluid img-thumbnail rounded-circle shadow-sm" width="500"  alt="главное меню">
            </a>
        </div>
    </div>
</div>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}