<div class="text-center">
    <h1 class="display-6">Не успешно</h1>
    <p class="lead">Операция не выполнена, ожидайте исправления неполадок или повторите операцию.</p>
    <hr/>
    <!-- Grid row -->
    <div class="container-fluid btn-group row pb-1">
        <!-- Grid column -->
        <div class="col-lg-6">
            <a href="{% url 'home' %}"
               type="submit"
               class="w-100 form-control btn btn-lg btn-outline-primary"
            >Главная</a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6">
            <a href=""
               type="button"
               class="w-100 form-control btn btn-lg btn-outline-warning"
            >Повторить</a>
        </div>
        <!-- Grid column -->
    </div>
    <hr/>
</div>