<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">ГЛАВНАЯ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">

                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Development
                                <span class="badge badge-primary badge-pill">
                                    # n + 1
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Основной функционал</h6>
                                    <a class="dropdown-item" href="{% url 'home' %}">Главная страница</a>
                                    <a class="dropdown-item" href="{% url 'admin' %}">Панель Администрации</a>
                                    <a class="dropdown-item disabled" href="{% url 'notification' %}">Уведомления администратора [{{notification}}]</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Рационализаторство:</h6>
                                    <a class="dropdown-item" href="{% url 'rational' %}">Рационализаторство: список</a>
                                    <a class="dropdown-item" href="{% url 'create_rational' %}">Рационализаторство: добавить</a>
                                    <a class="dropdown-item disabled" href="#">Рационализаторство: шаблоны</a>
                                    <a class="dropdown-item" href="{% url 'rational_ratings' %}">Рационализаторство: рейтинги</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Отдел охраны труда</h6>
                                    <a class="dropdown-item" href="{% url 'passages_thermometry' %}">Термометрия</a>
                                    <a class="dropdown-item disabled" href="#">Алкотесты</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Шаблоны</h6>
                                    <a class="dropdown-item" href="{% url 'news' %}">app_news</a>
                                    <a class="dropdown-item" href="{% url 'react' %}">app_react</a>
                                    <a class="dropdown-item" href="{% url 'example' %}">app_bootstrap_examples</a>
                                    <a class="dropdown-item" href="{% url 'chat' %}">app_chat</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Экстра</h6>
                                    <a class="dropdown-item" href="{% url 'email' %}">Электронная почта: общий список</a>
                                    <a class="dropdown-item" href="{% url 'message' %}">Сообщения: общий список</a>
                                    <a class="dropdown-item" href="{% url 'documentation' %}">Документация: общий список</a>
                                    <a class="dropdown-item" href="{% url 'contact' %}">Контакты: общий список</a>
                                    <a class="dropdown-item" href="{% url 'weather' %}">Погода: общий список</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Геолокация</h6>
                                    <a class="dropdown-item" href="{% url 'geo' %}">Устройства: список</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Отдел труда и заработной платы</h6>
                                    <a class="dropdown-item" href="{% url 'passages_select' %}">Выгрузка данных</a>
                                    <a class="dropdown-item" href="{% url 'passages_update' %}">Обновление данных</a>
                                    <a class="dropdown-item" href="{% url 'passages_insert' %}">Добавление данных</a>
                                    <a class="dropdown-item" href="{% url 'passages_delete' %}">Удаление данных</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Администратор
                                <span class="badge badge-primary badge-pill">
                                    # 5
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Основной функционал</h6>
                                    <a class="dropdown-item" href="{% url 'admin' %}">Панель Администрирования</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Аккаунты</h6>
                                    <a class="dropdown-item" href="{% url 'account_create_accounts' 1 %}">Создать/изменить пользователей</a>
                                    <a class="dropdown-item" href="{% url 'account_generate_passwords' %}">Сгенерировать пароли для аккаунтов</a>
                                    <a class="dropdown-item" href="{% url 'account_export_accounts' %}">Выгрузить список пользователей</a>
                                    <a class="dropdown-item" href="{% url 'account_update_accounts_1c' %}">Обновить пользователей из 1С</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Модератор
                                <span class="badge badge-primary badge-pill">
                                    # 1
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Основной функционал</h6>
                                    <a class="dropdown-item" href="{% url 'admin' %}">Панель Модерации</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Профиль:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Профиль</a>
                                </li>
                                <li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Новости:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Новости</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Развитие:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Развитие</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Бухгалтерия:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Бухгалтерия</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">СУП:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">СУП</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">СОТиПБ:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">СОТиПБ</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Профиль
                                <span class="badge badge-primary badge-pill">
                                    # 7
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Основной функционал</h6>
                                    <a class="dropdown-item" href="{% url 'home' %}">Главная страница</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Уведомления [{{notification}}]</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Достижения</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Аккаунты</h6>
                                    {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'account_profile' request.user.username %}">Личный профиль [{{ request.user.profile.last_name }} {{ request.user.profile.first_name }}]</a>
                                    {% else %}
                                        <a class="dropdown-item" href="#">Личный профиль [ Вы не вошли в аккаунт ]</a>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'account_change_profile' %}">Изменить личный профиль</a>
                                    {% else %}
                                        <a class="dropdown-item" href="#">Изменить личный профиль [ Вы не вошли в аккаунт ]</a>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'account_change_password' %}">Изменить пароль</a>
                                    {% else %}
                                        <a class="dropdown-item" href="#">Изменить пароль [ Вы не вошли в аккаунт ]</a>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'account_recover_password' 0 %}">Восстановить пароль</a>
                                    {% else %}
                                        <a class="dropdown-item" href="#">Восстановить пароль [ Вы не вошли в аккаунт ]</a>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'account_login' %}">Войти [ Вы уже вошли в аккаунт ]</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'account_login' %}">Войти</a>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'account_logout' %}">Выйти</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'account_login' %}">Выйти [ Вы не вошли в аккаунт ]</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Новости
                                <span class="badge badge-primary badge-pill">
                                    # 0
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Новости предприятия:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Просмотр</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Поиск</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Предложить</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Зал славы</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Алтын Канат</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Лучшие работники Комбината</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Чат:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Общий</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Личный</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Развитие
                                <span class="badge badge-primary badge-pill">
                                    # 3
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Банк идей:</h6>
                                    <a class="dropdown-item" href="{% url 'ideas_create' %}">Подать идею в банк идей</a>
                                    <a class="dropdown-item" href="{% url 'ideas_list' 'All' %}">Просмотреть идеи в банке идей</a>
                                    <a class="dropdown-item" href="{% url 'ideas_rating' %}">Рейтинги в банке идей</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Рационализаторство:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Рационализаторство: список</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Рационализаторство: добавить</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Рационализаторство: шаблоны</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Рационализаторство: рейтинги</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Проектная деятельность:</h6>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Проектная деятельность: список</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Проектная деятельность: добавить</a>
                                    <a class="dropdown-item disabled" href="{% url 'home' %}">Проектная деятельность: шаблоны</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Бухгалтерия
                                <span class="badge badge-primary badge-pill">
                                    # 1
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Сектор расчёта заработной платы:</h6>
                                    <a class="dropdown-item" href="{% url 'salary' %}">Выгрузка текущего расчётного листа</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                СУП
                                <span class="badge badge-primary badge-pill">
                                    # 1
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Отдел кадров:</h6>
                                    <a class="dropdown-item" href="{% url 'career' %}">Вакансии</a>
                                    <a class="dropdown-item disabled" href="#">Выгрузка отпусков</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li>
                                    <h6 class="dropdown-header">Отдел труда и заработной платы:</h6>
                                    <a class="dropdown-item disabled" href="#">Выгрузка данных</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="col-md-auto mx-auto d-flex align-items-end">
                    <div class="space-between">
                        <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                СОТиПБ
                                <span class="badge badge-primary badge-pill">
                                    # 0
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Отдел охраны труда:</h6>
                                    <a class="dropdown-item disabled" href="#">Термометрия</a>
                                    <a class="dropdown-item disabled" href="#">Алкометрия</a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>

                <!-- Btn-Group -->
                <div class="btn-group m-1 p-1">
                    {% block second_btn-group %}{% endblock second_btn-group %}
                </div>
            </ul>
        </div>
    </div>
</nav>