{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}Домашняя{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}

{% if LOOP %}
<div class="row row-cols-1 row-cols-md-3 text-center">
    <div class="col my-2">
        <div class="card shadow-sm">
            <div class="card-header m-0 p-1">
                <h4 class="fw-normal card-header bg-light text-dark text-decoration-none"><strong>{{ LOOP.application_name }}</strong></h4>
            </div>
            <div class="card-body m-0 p-1">
                <article class="my-3" id="accordion">
                    <div class="bd-example">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item card m-1 border shadow-sm">
                                <h4 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ LOOP.id }}" aria-expanded="true" aria-controls="collapseOne">
                                    {{ LOOP.application_name }}
                                </button>
                                </h4>
                                <div id="collapse{{ LOOP.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img src="{{ LOOP.application_image.url }}" class="img-fluid img-thumbnail rounded-circle" width="200" alt="{{ LOOP.application_name }}">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">

                                                    <div class="bd-example">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Тип</th>
                                                                    <th scope="col">Данные</th>
                                                                    <th scope="col">Дополнительно</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <tr class="table-danger">
                                                                    <th scope="row"><p>Фамилия</p><p>Имя</p><p>Отчество</p></th>
                                                                    <td>{{ LOOP.application_description }}</td>
                                                                    <td>Cell</td>
                                                                </tr>
                                                                <tr class="table-warning">
                                                                    <th scope="row">почта</th>
                                                                    <td>{{ LOOP.application_slug }}</td>
                                                                    <td>Cell</td>
                                                                </tr>
                                                                <tr class="table-success">
                                                                    <th scope="row">номер</th>
                                                                    <td>Cell</td>
                                                                    <td>Cell</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% else %} 
    Приложение не найдено :( 
{% endif %}







{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}