{% extends "base_third.html" %}
{% load static %}

<!-- Title -->
{% block second_title %}Страница получения запроса{% endblock second_title %}

<!-- Btn-Group -->
{% block second_btn-group %}
<a href="#" class="btn btn-light active" aria-current="page">Активно</a>
<a href="#" class="btn btn-secondary">Переключить</a>
<a href="#" class="btn btn-secondary">Переключить</a>
{% endblock second_btn-group %}

<!-- Main -->
{% block second_main %}
<div class="container-fluid">
    <div class="m-4 p-4">
        <p class="text-dark">{{ user_text }}</p>
        <button id="button">Получено!</button>
    </div>
</div>
{% endblock second_main %}