<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SMART Project Manager Platform (PMP)</title>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>

    <body>
        <form action="{% url 'get' %}">
            <div>
                <textarea placeholder="Введите что-нибудь" name="usertext"></textarea>
                <br><br>
                <input type="submit" value="get"></input>
            </div>
        </form>

        <!-- Custom JavaScript -->
        <script src="{% static 'js/custom.js' %}"></script>
    </body>

</html>