{% extends "base_third.html" %}
{% load static %}

<!-- Title -->
{% block second_title %}Страница отправки запроса{% endblock second_title %}

<!-- Btn-Group -->
{% block second_btn-group %}
<a href="#" class="btn btn-light active" aria-current="page">Активно</a>
<a href="#" class="btn btn-secondary">Переключить</a>
<a href="#" class="btn btn-secondary">Переключить</a>
{% endblock second_btn-group %}

<!-- Main -->
{% block second_main %}
<div class="container-fluid">
    <form action="{% url 'get' %}">
        <div class="m-4 p-4">
            <textarea placeholder="Введите что-нибудь" name="usertext"></textarea>
            <br><br>
            <input type="submit" value="отправить"></input>
        </div>
    </form>
</div>
{% endblock second_main %}