body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button { 
  display: flex;
  margin: auto;
  min-height: 10vh;
  min-width: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(158, 33, 33);
}

btn {
  min-width: 300;
  min-height: 200;
  width: 300;
  height: 200;
}