{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Добавление записей
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">ДОБАВЛЕНИЕ ЗАПИСЕЙ.</h1>
        <p class="lead">Эта страница содержит форму для добавления записей.</p>
        <div class="d-block">
            <form class="form-control" action="{% url 'passages_insert' %}" method="POST">
                {% csrf_token %}
                <label class="d-flex text-lg-start" for="party">id, данные для которого необходимо добавить</label>
                <input class="form-control" type="number" required="" placeholder="931777" value="931777" name="personid">
                <br>
                <hr>
                <br>
                <div class="d-flex text-lg-start">
                    <label for="party">Дата и время, которые необходимо добавить:</label>
                    <input class="form-control" type="datetime-local" required="" placeholder="" value="2021-10-28T12:00" name="datetime"><br>
                </div>
                <br>
                <hr>
                <br>
                <label class="d-flex text-lg-start" for="party">devicename</label>
                <input class="form-control" type="text" required="" placeholder="1_in_upravlenie" value="1_in_upravlenie" name="devicename">
                <br>
                <hr>
                <br>
                <label class="d-flex text-lg-start" for="party">cardno</label>
                <input class="form-control" type="number" required="" placeholder="18446744073609552444" value="18446744073609552444" name="cardno">
                <br>
                <hr>
                <br>
                <label class="d-flex text-lg-start" for="party">temperature</label>
                <input class="form-control" type="number" required="" placeholder="36.0" value="36.0" name="temperature">
                <br>
                <hr>
                <br>
                <label class="d-flex text-lg-start" for="party">mask</label>
                <input class="form-control" type="text" required="" placeholder="yes" value="yes" name="mask">
                <br>
                <hr>
                <br>
                <button class="btn btn-lg btn-outline-primary form-control" type="submit">Подтвердить</button>
            </form>
        </div>
    </div>
</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}