{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Получить выписку о зарплате
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Расчётный лист.</h1>
        <p class="lead">Эта страница содержит информацию о расчётном листе за прошлый период времени.</p>
        <div class="d-block">
            <form class="form-control" action="{% url 'view_pdf' %}" method="POST">
                {% csrf_token %}
                <input class="form-control" type="number" required="" placeholder="Уникальный идентификатор" value="9" aria-valuemax="4" aria-valuemin="1" name="transact_id"><br>
                <br>
                <input class="form-control" type="datetime-local" required="" placeholder="" value="2021-07-21T11:10" name="datetime"><br>
                <br>
                <button class="btn btn-lg btn-outline-primary form-control" type="submit">Получить данные</button>
            </form>
        </div>
    </div>

            <form class="form-control" action="{% url 'create_pdf' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-lg btn-outline-primary form-control" type="submit">Получить pdf</button>
            </form>

    <img src="{% static "data/zarplata.jpg" %} " class="bd-placeholder-img " width="100% " height="100% " alt="zarplata">



    {% if data %}
        <div class="pricing-header px-2 py-2 pt-md-2 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Прошлый период.</h1>
            <p class="lead">Ниже расположены данные, соответствующие прошлому периоду.</p>
            <div class="d-block">
                <div class="border-dark table-bordered">
                    {% for arr_1 in data %}
                        <table class="table table-bordered border-dark table-striped table-hover table-responsive col-form-label-lg table-sm">
                            <p class="text-decoration-underline">
                                {{ arr_1.0 }}
                            </p>
                            <thead>
                                <tr>
                                    {% for arr_2 in arr_1.1 %}
                                        {% if forloop.first %}
                                            <th width="720">{{ arr_2 }}</th>
                                        {% else %}
                                            <th>{{ arr_2 }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for arr_2 in arr_1.2 %}
                                    <tr>
                                        {% for arr_3 in arr_2 %}
                                            <td>
                                                {% if arr_3 %}
                                                    {{ arr_3 }}
                                                {% else %}
                                                    ...
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}


</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}