{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Расчётный лист
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
    Расчётный лист
{% endblock header %}

<!-- Description -->
{% block description %}
    Содержит форму для выгрузки расчётного листа. Выберите дату и нажмите подтвердить, или сразу скачайте pdf-документ.
{% endblock description %}

<!-- Main -->
{% block main %}



{% if response == 1 %}
    <div class="container-fluid">
        <div class="pricing-header px-0 py-0 pt-md-0 pb-md-0 mx-auto text-center">
            <div class="container-fluid text-center">
                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                    <li class="m-1">
                        <a class="btn btn-lg btn-outline-primary" href="{% url 'home' %}">На главную</a>
                    </li>
                    <li class="m-1">
                        <a class="btn btn-lg btn-outline-success" href="{% url 'salary' %}">Повторить</a>
                    </li>
                    <li class="m-1">
                        <button onclick="display()" class="btn btn-lg btn-outline-secondary">Печать или сохранить pdf</button>
                        <script>
                            function display() {
                            window.print();
                            }
                        </script>
                    </li>
                </ul>
            </div>
            <p class="text-muted">Ниже расположены данные, соответствующие выбранному периоду:</p>
            <div class="container-fluid text-center">
                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                    {% if data.Final %}
                        <li class="">
                            <h6 class="display-6 lead">Основная информация.</h6>
                            <table class="table table-sm table-condensed table-striped table-hover table-responsive table-responsive-sm table-bordered border-dark">
                                <thead>
                                    <tr>
                                        <th class="text-center">Тип</th>
                                        <th class="text-center">Значение</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for arr_1 in data.Final %}
                                        <tr>
                                            {% if forloop.counter0 == 1 %}
                                                {% for arr_2 in arr_1 %}
                                                    {% if forloop.counter0 == 0 %}
                                                        <td class="text-start">{{ arr_2 }}</td>
                                                    {% else %}
                                                        {% if data.Down.last.1 >= 0 %}
                                                            <td class="text-end bold fw-bold text-success table-active">{{ arr_2 }}</td>
                                                        {% else %}
                                                            <td class="text-end bold fw-bold text-danger table-active">{{ arr_2 }}</td>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% for arr_2 in arr_1 %}
                                                    {% if forloop.counter0 == 0 %}
                                                        <td class="text-start">{{ arr_2 }}</td>
                                                    {% else %}
                                                        <td class="text-end">{{ arr_2 }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </li>
                    {% endif %}
                </ul>
            </div>
{#            <div class="accordion" id="accordionExample">#}
{#                <div class="accordion-item">#}
{#                    <h2 class="accordion-header" id="accordion_heading_1">#}
{#                        <button#}
{#                            class="accordion-button collapsed"#}
{#                            type="button"#}
{#                            data-bs-toggle="collapse"#}
{#                            data-bs-target="#accordion_collapse_1"#}
{#                            aria-expanded="false"#}
{#                            aria-controls="accordion_collapse_1"#}
{#                        >Подробности:</button>#}
{#                    </h2>#}
{#                    <div#}
{#                        id="accordion_collapse_1"#}
{#                        class="accordion-collapse collapse"#}
{#                        aria-labelledby="accordion_collapse_1"#}
{#                        data-bs-parent="#accordionExample"#}
{#                    >#}
{#                        <div class="accordion-body">#}
{#                            <div class="text-center">#}
                                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                    {% if data.Table_0_1 %}
                                        <li class="">
                                            <h6 class="display-6 lead">Дополнительная информация.</h6>
                                            <table class="table table-sm table-condensed table-striped table-hover table-responsive table-responsive-sm table-bordered border-dark">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Тип</th>
                                                        <th class="text-center">Значение</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for arr_1 in data.Table_0_1 %}
                                                        <tr>
                                                            {% for arr_2 in arr_1 %}
                                                                <td class="text-start">{{ arr_2 }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endif %}
                                    {% if data.Table_0_2 %}
                                        <li class="">
                                            <h6 class="display-6 lead">Дополнительная информация.</h6>
                                            <table class="table table-sm table-condensed table-striped table-hover table-responsive table-responsive-sm table-bordered border-dark">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Тип</th>
                                                        <th class="text-center">Значение</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for arr_1 in data.Table_0_2 %}
                                                        <tr>
                                                            {% for arr_2 in arr_1 %}
                                                                <td class="text-start">{{ arr_2 }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endif %}
                                </ul>
                                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                    {% if data.Table_1 %}
                                        <li class="">
                                            <h6 class="display-6 lead">{{ data.Table_1.1.0.1 }}</h6>
                                            <table class="table table-sm table-condensed table-hover table-responsive table-responsive-sm table-bordered border-secondary">
                                                <thead>
                                                    <tr>
                                                        {% for arr_1 in data.Table_1.0|slice:":5" %}
                                                            <th class="text-center">{{ arr_1 }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for arr_1 in data.Table_1.1|slice:"1:" %}
                                                        <tr>
                                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <td class="text-start">{{ arr_2 }}</td>
                                                                {% else %}
                                                                    <td class="text-end">{{ arr_2 }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        {% for arr_1 in data.Table_1.2|slice:"1:6" %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <td class="text-start">{{ arr_1 }}</td>
                                                                {% else %}
                                                                    <td class="text-end">{{ arr_1 }}</td>
                                                                {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endif %}
                                    {% if data.Table_2 %}
                                        <li class="">
                                            <h6 class="display-6 lead">{{ data.Table_2.1.0.1 }}</h6>
                                            <table class="table table-sm table-condensed table-striped table-hover table-responsive table-responsive-sm table-bordered border-dark">
                                                <thead>
                                                    <tr>
                                                        {% for arr_1 in data.Table_2.0|slice:":5" %}
                                                            <th class="text-center">{{ arr_1 }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for arr_1 in data.Table_2.1|slice:"1:" %}
                                                        <tr>
                                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <td class="text-start">{{ arr_2 }}</td>
                                                                {% else %}
                                                                    <td class="text-end">{{ arr_2 }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        {% for arr_1 in data.Table_2.2|slice:"1:6" %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <td class="text-start">{{ arr_1 }}</td>
                                                                {% else %}
                                                                    <td class="text-end">{{ arr_1 }}</td>
                                                                {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endif %}
                                </ul>
                                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                    {% if data.Table_3 %}
                                        <li class="">
                                            <h6 class="display-6 lead">{{ data.Table_3.1.0.1 }}</h6>
                                            <table class="table table-sm table-condensed table-striped table-hover table-responsive table-responsive-sm table-bordered border-dark">
                                                <thead>
                                                    <tr>
                                                        {% for arr_1 in data.Table_3.0|slice:":5" %}
                                                            <th class="text-center">{{ arr_1 }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for arr_1 in data.Table_3.1|slice:"1:" %}
                                                        <tr>
                                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <td class="text-start">{{ arr_2 }}</td>
                                                                {% else %}
                                                                    <td class="text-end">{{ arr_2 }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        {% for arr_1 in data.Table_3.2|slice:"1:6" %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <td class="text-start">{{ arr_1 }}</td>
                                                                {% else %}
                                                                    <td class="text-end">{{ arr_1 }}</td>
                                                                {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endif %}
                                    {% if data.Table_4 %}
                                        <li class="">
                                            <h6 class="display-6 lead">{{ data.Table_4.1.0.1 }}</h6>
                                            <table class="table table-sm table-condensed table-striped table-hover table-responsive table-responsive-sm table-bordered border-dark">
                                                <thead>
                                                    <tr>
                                                        {% for arr_1 in data.Table_4.0|slice:":5" %}
                                                            {% if forloop.first %}
                                                                <th class="text-center">{{ arr_1 }}</th>
                                                            {% else %}
                                                                <th class="text-center">{{ arr_1 }}</th>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for arr_1 in data.Table_4.1|slice:"1:" %}
                                                        <tr>
                                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <td class="text-start">{{ arr_2 }}</td>
                                                                {% else %}
                                                                    <td class="text-end">{{ arr_2 }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                        <tr>
                                                            {% for arr_1 in data.Table_4.2|slice:"1:6" %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <td class="text-start">{{ arr_1 }}</td>
                                                                {% else %}
                                                                    <td class="text-end">{{ arr_1 }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endif %}
                                </ul>
                                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                    {% if data.Table_5 %}
                                        <li class="">
                                            <h6 class="display-6 lead">{{ data.Table_5.1.0.1 }}</h6>
                                            <table class="table table-sm table-condensed table-striped table-hover table-responsive table-responsive-sm table-bordered border-dark">
                                                <thead>
                                                    <tr>
                                                        {% for arr_1 in data.Table_5.0|slice:":5" %}
                                                            <th class="text-center">{{ arr_1 }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for arr_1 in data.Table_5.1|slice:"1:" %}
                                                        <tr>
                                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                                {% if forloop.counter0 == 0 %}
                                                                    <td class="text-start">{{ arr_2 }}</td>
                                                                {% else %}
                                                                    <td class="text-end">{{ arr_2 }}</td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        {% for arr_1 in data.Table_5.2|slice:"1:6" %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <td class="text-start">{{ arr_1 }}</td>
                                                            {% else %}
                                                                <td class="text-end">{{ arr_1 }}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endif %}
                                    {% if data.Down %}
                                        <li class="">
                                            <h6 class="display-6 lead">Итого.</h6>
                                            <table class="table table-sm table-condensed table-striped table-hover table-responsive table-responsive-sm table-bordered border-dark">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Тип</th>
                                                        <th class="text-center">Значение</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-start">
                                                            {{ data.Down.last.0 }}
                                                        </td>
                                                        {% if data.Down.last.1 >= 0 %}
                                                            <td class="text-end bold fw-bold text-success table-active">
                                                                {{ data.Down.last.1 }}
                                                            </td>
                                                        {% else %}
                                                            <td class="text-end bold fw-bold text-danger table-active">
                                                                {{ data.Down.last.1 }}
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                    <tr>
                                                        <td class="text-start">
                                                            {{ data.Down.first.0 }}
                                                        </td>
                                                        <td class="text-end">
                                                            {{ data.Down.first.1 }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endif %}
                                </ul>
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% elif response == -1 %}
    {% if data %}
        <div class="container container-fluid text-center">
            <h6 class="display-6">Вероятная причина:</h6>
            <strong class="text-danger lead">{{ data }}</strong>
        </div>
    {% else %}
        <div class="container container-fluid text-center">
            <h6>Вероятная причина:</h6>
            <strong class="text-danger">неизвестно</strong>
        </div>
    {% endif %}


    {% include 'components/aborted.html' %}
{% else %}
    <div class="container">
        <form action="{% url 'salary' %}"
              method="POST"
              target="_self"
              enctype="multipart/form-data"
              name="form"
              autocomplete="on"
              class="text-center"
        >
            {% csrf_token %}
            <div>
                <label class="form-control-lg">
                    Выберите месяц выгрузки:
                    <select type="select"
                            id="month"
                            name="month"
                            required=""
                            class="form-control form-control-lg"
                    >
                        {% if months %}
                            {% for month in months %}
                                {% if month.2 %}
                                    <option value="{{ month.0 }}" selected>{{ month.1 }}</option>
                                {% else %}
                                    <option value="{{ month.0 }}">{{ month.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <option value="1">Январь</option>
                            <option value="2">Февраль</option>
                            <option value="3">Март</option>
                            <option value="4">Апрель</option>
                            <option value="5">Май</option>
                            <option value="6">Июнь</option>
                            <option value="7">Июль</option>
                            <option value="8">Август</option>
                            <option value="9">Сентябрь</option>
                            <option value="10">Октябрь</option>
                            <option value="11">Ноябрь</option>
                            <option value="12">Декабрь</option>
                        {% endif %}
                    </select>
                    <small class="text-muted">месяц: выбери месяц из выпадающего списка</small>
                </label>
                <label class="form-control-lg">
                    Выберите год выгрузки:
                    <select type="select"
                            id="year"
                            name="year"
                            required=""
                            class="form-control form-control-lg"
                    >
                        {% if years %}
                            {% for year in years %}
                                {% if year.1 %}
                                    <option value="{{ year.0 }}" selected>{{ year.0 }}</option>
                                {% else %}
                                    <option value="{{ year.0 }}">{{ year.0 }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <option value="2021">2021</option>
                            <option value="2022" selected>2022</option>
                        {% endif %}
                    </select>
                    <small class="text-muted">год: выбери год из выпадающего списка</small>
                </label>
            </div>
            <hr/>
            <div class="container-fluid text-center">
                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                    <li class="m-1">
                        <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                    </li>
                    <li class="m-1">
                        <button class="btn btn-lg btn-outline-warning" type="reset">Сбросить</button>
                    </li>
                    <li class="m-1">
                        <a class="btn btn-lg btn-outline-success" href="{% url 'home' %}">На главную</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}