{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Расчётный лист
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
    Расчётный лист
{% endblock header %}

<!-- Description -->
{% block description %}
    Содержит форму для выгрузки расчётного листа. Выберите дату и нажмите подтвердить, или сразу скачайте pdf-документ.
{% endblock description %}

<!-- Main -->
{% block main %}



{% if response == 1 %}

    <div class="container">
        <div class="pricing-header px-0 py-0 pt-md-0 pb-md-0 mx-auto text-center">
            <a href="{% url 'salary' %}" class="btn btn-xs display-1 btn-secondary">вернуться</a> <h1 class="display-4">Прошлый период.<button onclick="display()" class="btn btn-xs display-1 btn-secondary">печать</button></h1>
            <p class="lead">Ниже расположены данные, соответствующие прошлому периоду.</p>

            <script>
                function display() {
                window.print();
                }
            </script>

            <div class="d-block">
                <div class="border-dark table-bordered">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 display-6">

                        {% if data.Table_1 %}
                            <div class="col my-2">
                            <table class="table table-bordered border-dark table-striped table-hover table-responsive col-form-label-sm table-sm">
                                <thead>
                                    <tr>
                                        {% for arr_1 in data.Table_1.0|slice:":5" %}
                                            {% if forloop.first %}
                                                <th width="720">{{ arr_1 }}</th>
                                            {% else %}

                                                <th>{{ arr_1 }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data.Table_1.1.1 %}
                                        <td>
                                            <strong>
                                                {{ data.Table_1.1.0.1 }}
                                            </strong>
                                        </td>
                                    {% endif %}
                                    {% for arr_1 in data.Table_1.1|slice:"1:" %}
                                        <tr>
                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                <td>
                                                    {% if arr_2 %}
                                                        {{ arr_2 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            {% for arr_1 in data.Table_1.2|slice:"1:6" %}
                                                <td>
                                                    {% if arr_1 %}
                                                        {{ arr_1 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                </tbody>
                            </table>
                            </div>
                        {% endif %}

                        {% if data.Table_2 %}
                            <div class="col my-0">
                            <table class="table table-bordered border-dark table-striped table-hover table-responsive col-form-label-sm table-sm">
                                <thead>
                                    <tr>
                                        {% for arr_1 in data.Table_2.0|slice:":5" %}
                                            {% if forloop.first %}
                                                <th width="720">{{ arr_1 }}</th>
                                            {% else %}

                                                <th>{{ arr_1 }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data.Table_2.1.1 %}
                                        <td>
                                            <strong>
                                                {{ data.Table_2.1.0.1 }}
                                            </strong>
                                        </td>
                                    {% endif %}
                                    {% for arr_1 in data.Table_2.1|slice:"1:" %}
                                        <tr>
                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                <td>
                                                    {% if arr_2 %}
                                                        {{ arr_2 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            {% for arr_1 in data.Table_2.2|slice:"1:6" %}
                                                <td>
                                                    {% if arr_1 %}
                                                        {{ arr_1 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                </tbody>
                            </table>
                            </div>
                        {% endif %}

                        {% if data.Table_3 %}
                            <div class="col my-0">
                            <table class="table table-bordered border-dark table-striped table-hover table-responsive col-form-label-sm table-sm">
                                <thead>
                                    <tr>
                                        {% for arr_1 in data.Table_3.0|slice:":5" %}
                                            {% if forloop.first %}
                                                <th width="720">{{ arr_1 }}</th>
                                            {% else %}
                                                <th>{{ arr_1 }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data.Table_3.1.0 %}
                                        <td>
                                            <strong>
                                                {{ data.Table_3.1.0.1 }}
                                            </strong>
                                        </td>
                                    {% endif %}
                                    {% for arr_1 in data.Table_3.1|slice:"1:" %}
                                        <tr>
                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                <td>
                                                    {% if arr_2 %}
                                                        {{ arr_2 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            {% for arr_1 in data.Table_3.2|slice:"1:6" %}
                                                <td>
                                                    {% if arr_1 %}
                                                        {{ arr_1 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                </tbody>
                            </table>
                            </div>
                        {% endif %}

                        {% if data.Table_4 %}
                            <div class="col my-0">
                            <table class="table table-bordered border-dark table-striped table-hover table-responsive col-form-label-sm table-sm">
                                <thead>
                                    <tr>
                                        {% for arr_1 in data.Table_4.0|slice:":5" %}
                                            {% if forloop.first %}
                                                <th width="720">{{ arr_1 }}</th>
                                            {% else %}

                                                <th>{{ arr_1 }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data.Table_4.1.1 %}
                                        <td>
                                            <strong>
                                                {{ data.Table_4.1.0.1 }}
                                            </strong>
                                        </td>
                                    {% endif %}
                                    {% for arr_1 in data.Table_4.1|slice:"1:" %}
                                        <tr>
                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                <td>
                                                    {% if arr_2 %}
                                                        {{ arr_2 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            {% for arr_1 in data.Table_4.2|slice:"1:6" %}
                                                <td>
                                                    {% if arr_1 %}
                                                        {{ arr_1 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                </tbody>
                            </table>
                            </div>
                        {% endif %}

                        {% if data.Table_5 %}
                            <div class="col my-0">
                            <table class="table table-bordered border-dark table-striped table-hover table-responsive col-form-label-sm table-sm">
                                <thead>
                                    <tr>
                                        {% for arr_1 in data.Table_5.0|slice:":5" %}
                                            {% if forloop.first %}
                                                <th width="720">{{ arr_1 }}</th>
                                            {% else %}

                                                <th>{{ arr_1 }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data.Table_5.1.1 %}
                                        <td>
                                            <strong>
                                                {{ data.Table_5.1.0.1 }}
                                            </strong>
                                        </td>
                                    {% endif %}
                                    {% for arr_1 in data.Table_5.1|slice:"1:" %}
                                        <tr>
                                            {% for arr_2 in arr_1|slice:"1:6" %}
                                                <td>
                                                    {% if arr_2 %}
                                                        {{ arr_2 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            {% for arr_1 in data.Table_5.2|slice:"1:6" %}
                                                <td>
                                                    {% if arr_1 %}
                                                        {{ arr_1 }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                </tbody>
                            </table>
                            </div>
                        {% endif %}

                        {% if data.Down %}
                            <div class="col my-0">
                        <table class="table table-bordered border-dark table-striped table-hover table-responsive col-form-label-sm table-sm">
                            <thead>
                                <tr>
                                    <th width="720">Наименование</th>
                                    <th>Сумма</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ data.Down.last.0 }}
                                    </td>
                                    <td>
                                        {{ data.Down.last.1 }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                            <div class="col my-0">
                            <table class="table table-bordered border-dark table-striped table-hover table-responsive col-form-label-sm table-sm">
                                <thead>
                                    <tr>
                                        <th width="720">Наименование</th>
                                        <th>Сумма</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{ data.Down.first.0 }}
                                        </td>
                                        <td>
                                            {{ data.Down.first.1 }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% elif response == -1 %}

    {% include 'components/aborted.html' %}

{% else %}

    <div class="container">
        <form action="{% url 'salary' %}"
              method="POST"
              target="_self"
              enctype="multipart/form-data"
              name="form"
              autocomplete="on"
              class="text-center"
        >
            {% csrf_token %}
            <div>
                <label class="form-control-lg">
                    Выберите месяц выгрузки:
                    <input type="number"
                           id="month"
                           name="month"
                           required=""
                           placeholder="10"
                           value="10"
                           min="1"
                           max="12"
                           class="form-control form-control-lg"
                    />
                    <small class="text-muted">число: от 1 до прошлого периода</small>
                </label>

                <label class="form-control-lg">
                    Выберите год выгрузки:
                    <input type="number"
                           id="year"
                           name="year"
                           required=""
                           placeholder="2021"
                           value="2021"
                           min="2021"
                           max="2022"
                           class="form-control form-control-lg"
                    />
                    <small class="text-muted">число: начиная от 2021 года</small>
                </label>
            </div>
            <hr/>
            <div class="container-fluid btn-group row pb-1">
                <div class="col-lg-6">
                    <button href=""
                            type="submit"
                            class="w-100 form-control btn btn-lg btn-outline-primary"
                    >Подтвердить</button>
                </div>
                <div class="col-lg-6">
                    <button href=""
                            type="reset"
                            class="w-100 form-control btn btn-lg btn-outline-warning"
                    >Сбросить</button>
                </div>
            </div>
            <hr/>
        </form>

        <form action="{% url 'salary_pdf' %}"
              method="POST"
              target="_self"
              enctype="multipart/form-data"
              name="form"
              autocomplete="on"
              class="text-center"
        >
            {% csrf_token %}
            <div class="container-fluid btn-group row pb-1">
                <div class="col-lg-12">
                    <button href=""
                            type="submit"
                            class="w-100 form-control btn btn-lg btn-outline-primary"
                    >Выгрузить pdf-отчёт</button>
                </div>
            </div>
            <hr/>
        </form>

        <img src="{% static "media/admin/account/zarplata.jpg" %} " class="bd-placeholder-img " width="100% " height="100% " alt="zarplata">
    </div>

{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}