altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
asyncio==3.4.3
attrs==20.3.0
cached-property==1.5.2
Cerberus==1.3.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
distlib==0.3.1
Django==3.1.4
django-crispy-forms==1.11.0
djangorestframework==3.12.2
env==0.1.0
et-xmlfile==1.0.1
future==0.18.2
idna==2.10
installer==0.1.1
openpyxl==3.0.7
orderedmultidict==1.0.1
packagebuilder==0.1.0
packaging==20.9
pefile==2019.4.18
pep517==0.10.0
Pillow==8.0.1
pip-shims==0.5.3
plette==0.2.3
psycopg2==2.8.6
py==1.10.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PySide6==6.0.4
python-dateutil==2.8.1
pytz==2020.4
pywin32-ctypes==0.2.0
requests==2.25.1
requirementslib==1.5.16
shiboken6==6.0.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tomlkit==0.7.0
urllib3==1.26.3
vistir==0.5.2
yaspin==1.5.0
