{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить пароль
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
    Восстановить пароль
{% endblock header %}

<!-- Description -->
{% block description %}
    Эта страница содержит форму для восстановления пароля пользователя.
{% endblock description %}

<!-- Main -->
{% block main %}



{% if response == 2 %}
    {% include 'components/success.html' %}
{% else %}
    <div class="container-fluid">
        {% if response == 0 or response == -1 or response == -2 %}
            <div class="container">
                <p class="lead text-danger text-center display-6 ">
                    {% if response == -2 %}
                        Секретный ответ, пароли или почты не совпадают!
                    {% else %}
                        {% if access_count %}
                            {% if access_count <= 10 %}
                                Вы ввели несуществующего пользователя!
                            {% elif access_count > 10 %}
                                Вы превысили количество попыток входа!
                            {% endif %}
                             Количество попыток входа за последний час: {{ access_count }} (разрешено не больше 10 в час)
                        {% endif %}
                    {% endif %}
                </p>
                <form action="{% url 'account_recover_password' 'iin' %}"
                      method="POST"
                      target="_self"
                      enctype="multipart/form-data"
                      name="account_recover_password iin"
                      autocomplete="on"
                      class="text-center"
                >
                    {% csrf_token %}
                    <div>
                        <label class="form-control-lg">
                            Введите Ваш идентификатор пользователя:
                            <input type="text"
                                   id="username"
                                   name="username"
                                   required=""
                                   placeholder=""
                                   value=""
                                   minlength="12"
                                   maxlength="12"
                                   class="form-control form-control-lg"
                            />
                            <small class="text-muted">ИИН: 12 цифр</small>
                        </label>
                    </div>
                    <hr/>
                    <div class="container-fluid text-center">
                        <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                            <li class="m-1">
                                <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                            </li>
                            <li class="m-1">
                                <button class="btn btn-lg btn-outline-warning" type="reset">Сбросить</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="container text-center">
                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                    <li class="m-1">
                        <button class="btn btn-lg btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#button_collapse_1" aria-expanded="false" aria-controls="button_collapse_1">Восстановить через секретный вопрос</button>
                    </li>
                    <li class="m-1">
                        <button class="btn btn-lg btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#button_collapse_2" aria-expanded="false" aria-controls="button_collapse_2">Восстановить через указанную почту</button>
                    </li>
                    <li class="m-1">
                        <button class="btn btn-lg btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#button_collapse_3" aria-expanded="false" aria-controls="button_collapse_3">Восстановить через обращение к разработчику</button>
                    </li>
                </ul>
            </div>
            <div class="container-fluid text-center">
                <ul class="row justify-content-center">
                    <div class="col m-1">
                        <div class="collapse multi-collapse" id="button_collapse_1">
                            <div class="card card-body">

                                {% if user_model.secret_question_char_field and user_model.secret_answer_char_field %}

                                    <form action="{% url 'account_recover_password' 'secret_answer' %}"
                                          method="POST"
                                          target="_self"
                                          enctype="multipart/form-data"
                                          name="account_recover_password secret_answer"
                                          autocomplete="on"
                                          class="text-center"
                                    >
                                        {% csrf_token %}
                                        <div>
                                            <div>
                                                <label class="form-control-lg">
                                                    <input type="text"
                                                           id="username"
                                                           name="username"
                                                           required=""
                                                           placeholder=""
                                                           value="{{ user.username }}"
                                                           minlength="12"
                                                           maxlength="12"
                                                           class="form-control form-control-lg d-none"
                                                    />
                                                    <small class="text-muted"></small>
                                                </label>
                                            </div>

                                            <div>
                                                <label class="form-control-lg">
                                                    Ответ на секретный вопрос: "{{ user_model.secret_question_char_field }}"
                                                    <input type="text"
                                                           id="secret_answer"
                                                           name="secret_answer"
                                                           required=""
                                                           placeholder=""
                                                           value=""
                                                           minlength="1"
                                                           maxlength="20"
                                                           class="form-control form-control-lg"
                                                    />
                                                    <small class="text-muted">ответ: длина от 1 до 20 символов</small>
                                                </label>
                                            </div>
                                            <hr/>
                                            <div>
                                                <label class="form-control-lg">
                                                    Введите новый пароль:
                                                    <input type="password"
                                                           id="password_1"
                                                           name="password_1"
                                                           required=""
                                                           placeholder=""
                                                           value=""
                                                           minlength="8"
                                                           maxlength="16"
                                                           class="form-control form-control-lg"
                                                    />
                                                    <small class="text-muted">пароль: от 8 до 16 символов</small>
                                                </label>

                                                <label class="form-control-lg">
                                                    Повторите новый пароль:
                                                    <input type="password"
                                                           id="password_2"
                                                           name="password_2"
                                                           required=""
                                                           placeholder=""
                                                           value=""
                                                           minlength="8"
                                                           maxlength="16"
                                                           class="form-control form-control-lg"
                                                    />
                                                    <small class="text-muted">пароль: от 8 до 16 символов</small>
                                                </label>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="container-fluid text-center">
                                            <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                                <li class="m-1">
                                                    <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                                                </li>
                                                <li class="m-1">
                                                    <button class="btn btn-lg btn-outline-warning" type="reset">Сбросить</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>

                                {% else %}

                                    <div class="text-white rounded bg-dark">
                                        <h1 class="display-6 fst-italic">Секретный вопрос и/или ответ на указаны!</h1>
                                    </div>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col m-1">
                        <div class="collapse multi-collapse" id="button_collapse_2">
                            <div class="card card-body">

                                {% if user_model.email_field %}

                                    <form action="{% url 'account_recover_password' 'email' %}"
                                          method="POST"
                                          target="_self"
                                          enctype="multipart/form-data"
                                          name="account_recover_password email"
                                          autocomplete="on"
                                          class="text-center"
                                    >
                                        {% csrf_token %}
                                        <div>
                                            <div>
                                                <label class="form-control-lg">
                                                    <input type="text"
                                                           id="username"
                                                           name="username"
                                                           required=""
                                                           placeholder=""
                                                           value="{{ user.username }}"
                                                           minlength="12"
                                                           maxlength="12"
                                                           class="form-control form-control-lg d-none"
                                                    />
                                                    <small class="text-muted"></small>
                                                </label>
                                                <label class="form-control-lg">
                                                    Введите полное название Вашей почты:
                                                    <input type="text"
                                                           id="email"
                                                           name="email"
                                                           required=""
                                                           placeholder="{{ user_model.email_field|slice:":3:" }}...{{ user_model.email_field|slice:"-10::" }}"
                                                           value="{{ user_model.email_field|slice:":3:" }}...{{ user_model.email_field|slice:"-10::" }}"
                                                           minlength="1"
                                                           maxlength="64"
                                                           class="form-control form-control-lg"
                                                    />
                                                    <small class="text-muted"></small>
                                                </label>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="container-fluid text-center">
                                            <label class="form-control-lg">
                                                Нажмите, чтобы послать код восстановления на указанную ранее почту:
                                            </label>
                                            <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                                <li class="m-1">
                                                    <button class="btn btn-lg btn-outline-primary" type="submit">Отправить код</button>
                                                </li>
                                                <li class="m-1">
                                                    <label class="form-control-lg text-warning">
                                                        Внимание, код действует 1 сутки!
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                    <hr/>
                                    <form action="{% url 'account_recover_password' 'recover' %}"
                                          method="POST"
                                          target="_self"
                                          enctype="multipart/form-data"
                                          name="account_recover_password recover"
                                          autocomplete="on"
                                          class="text-center"
                                    >
                                        {% csrf_token %}
                                        <div>
                                            <div>
                                                <input type="text"
                                                       id="username"
                                                       name="username"
                                                       required=""
                                                       placeholder=""
                                                       value="{{ user.username }}"
                                                       minlength="12"
                                                       maxlength="12"
                                                       class="form-control form-control-lg d-none"
                                                />
                                                <label class="form-control-lg">
                                                    Введите сюда код восстановления из письма:
                                                    <input type="text"
                                                           id="recover"
                                                           name="recover"
                                                           required=""
                                                           placeholder="секретный код"
                                                           value=""
                                                           minlength="1"
                                                           maxlength="64"
                                                           class="form-control form-control-lg"
                                                    />
                                                    <small class="text-muted">внимание, вводите код без кавычек!</small>
                                                </label>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="container-fluid text-center">
                                            <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                                <li class="m-1">
                                                    <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                                                </li>
                                                <li class="m-1">
                                                    <button class="btn btn-lg btn-outline-warning" type="reset">Сбросить</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>

                                {% else %}

                                    <div class="text-white rounded bg-dark">
                                        <h1 class="display-6 fst-italic">Почта не указана!</h1>
                                    </div>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col m-1">
                        <div class="collapse multi-collapse" id="button_collapse_3">
                            <div class="card card-body">
                                <h6 class="lead text-center">Если вы не можете использовать первые два способа восстановления
                                    пароля, то обратитесь к разработчику.<br/> Ссылки находятся в <strong>нижней части</strong> страницы!</h6>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        {% endif %}
    </div>
{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}