{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить группы
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
    Изменить группы
{% endblock header %}

<!-- Description -->
{% block description %}
    Эта страница содержит форму для изменения групп пользователей.
{% endblock description %}

<!-- Main -->
{% block main %}



{% if response == 1 %}
    {% include 'components/success.html' %}
{% elif response == -1 %}
    {% include 'components/aborted.html' %}
{% else %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="accordion_heading_1">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion_collapse_1"
                    aria-expanded="false"
                    aria-controls="accordion_collapse_1"
                >форма для создания действия</button>
            </h2>
            <div
                id="accordion_collapse_1"
                class="accordion-collapse collapse"
                aria-labelledby="accordion_collapse_1"
                data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    <form action="{% url 'account_change_groups' %}"
                          method="POST"
                          target="_self"
                          enctype="multipart/form-data"
                          name="account_change_groups"
                          autocomplete="on"
                          class="text-center"
                    >
                        {% csrf_token %}
                        <div>
                            <div>
                                <label class="form-control-lg">
                                    Название действия:
                                    <input type="text"
                                           id="action_name_char_field"
                                           name="action_name_char_field"
                                           required=""
                                           placeholder="Просмотр домашней страницы"
                                           value="Просмотр домашней страницы"
                                           minlength="1"
                                           maxlength="32"
                                           class="form-control form-control-lg"
                                    />
                                    <small class="text-muted">видимое имя действия, пример: "Просмотр домашней страницы"</small>
                                </label>
                                <label class="form-control-lg">
                                    Валидация действия:
                                    <input type="text"
                                           id="action_name_slug_field"
                                           name="action_name_slug_field"
                                           required=""
                                           placeholder="view_home_page"
                                           value="view_home_page"
                                           minlength="1"
                                           maxlength="32"
                                           class="form-control form-control-lg"
                                    />
                                    <small class="text-muted">валидируемое имя действия, пример: "view_home_page"</small>
                                </label>
                            </div>
                        </div>
                        <hr/>
                        <div class="container-fluid text-center">
                            <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                <li class="m-1">
                                    <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                                </li>
                                <li class="m-1">
                                    <button class="btn btn-lg btn-outline-warning" type="reset">Сбросить</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="accordion_heading_2">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion_collapse_2"
                    aria-expanded="false"
                    aria-controls="accordion_collapse_2"
                >форма для создания группы</button>
            </h2>
            <div
                id="accordion_collapse_2"
                class="accordion-collapse collapse"
                aria-labelledby="accordion_collapse_2"
                data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    <form action="{% url 'account_change_groups' %}"
                          method="POST"
                          target="_self"
                          enctype="multipart/form-data"
                          name="account_change_groups"
                          autocomplete="on"
                          class="text-center"
                    >
                        {% csrf_token %}
                        <div>
                            <div>
                                <label class="form-control-lg">
                                    Название действия:
                                    <input type="text"
                                           id="action_name_char_field"
                                           name="action_name_char_field"
                                           required=""
                                           placeholder="Просмотр домашней страницы"
                                           value="Просмотр домашней страницы"
                                           minlength="1"
                                           maxlength="32"
                                           class="form-control form-control-lg"
                                    />
                                    <small class="text-muted">видимое имя действия, пример: "Просмотр домашней страницы"</small>
                                </label>
                                <label class="form-control-lg">
                                    Валидация действия:
                                    <input type="text"
                                           id="action_name_slug_field"
                                           name="action_name_slug_field"
                                           required=""
                                           placeholder="view_home_page"
                                           value="view_home_page"
                                           minlength="1"
                                           maxlength="32"
                                           class="form-control form-control-lg"
                                    />
                                    <small class="text-muted">валидируемое имя действия, пример: "view_home_page"</small>
                                </label>
                            </div>
                        </div>
                        <hr/>
                        <div class="container-fluid text-center">
                            <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                <li class="m-1">
                                    <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                                </li>
                                <li class="m-1">
                                    <button class="btn btn-lg btn-outline-warning" type="reset">Сбросить</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="accordion_heading_3">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion_collapse_3"
                    aria-expanded="false"
                    aria-controls="accordion_collapse_3"
                >форма для присоединения/отсоединения действия к группе</button>
            </h2>
            <div
                id="accordion_collapse_3"
                class="accordion-collapse collapse"
                aria-labelledby="accordion_collapse_3"
                data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    <form action="{% url 'account_change_groups' %}"
                          method="POST"
                          target="_self"
                          enctype="multipart/form-data"
                          name="account_create_accounts one"
                          autocomplete="on"
                          class="text-center"
                    >
                        {% csrf_token %}
                        <div>
                            <label class="form-control-lg">
                                Выберите действие, которое нужно присоединить к группе:
                                <select type="select"
                                        id="action"
                                        name="action"
                                        required=""
{#                                        size="3"#}
{#                                        multiple="multiple"#}
                                        class="form-control form-control-lg"
                                >
                                    <option selected disabled>Выберите действие</option>
                                    {% for action in actions %}
                                        <option value="{{ action.name_slug_field }}">{{ action.name_char_field }} [{{ action.name_slug_field }}]</option>
                                    {% endfor %}
                                </select>
                                <small class="text-muted">нажмите и выберите один из элементов из выпадающего списка</small>
                            </label>
                            <label class="form-control-lg">
                                Выберите группу, к которой нужно присоединить действие:
                                <select type="select"
                                        id="group"
                                        name="group"
                                        required=""
{#                                        size="3"#}
{#                                        multiple="multiple"#}
                                        class="form-control form-control-lg"
                                >
                                    <option selected disabled>Выберите группу</option>
                                    {% for group in groups %}
                                        <option value="{{ group.name_slug_field }}">{{ group.name_char_field }} [{{ group.name_slug_field }}]</option>
                                    {% endfor %}
                                </select>
                                <small class="text-muted">нажмите и выберите один из элементов из выпадающего списка</small>
                            </label>
                            <label class="form-control-lg">
                                Выберите тип:
                                <select type="select"
                                        id="type_select"
                                        name="type_select"
                                        required=""
{#                                        size="3"#}
{#                                        multiple="multiple"#}
                                        class="form-control form-control-lg"
                                >
                                    <option value="add">Присоединить</option>
                                    <option value="remove">Отсоединить</option>
                                </select>
                                <small class="text-muted">нажмите и выберите один из элементов из выпадающего списка</small>
                            </label>
                        </div>
                        <hr/>
                        <div class="container-fluid text-center">
                            <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                <li class="m-1">
                                    <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                                </li>
                                <li class="m-1">
                                    <button class="btn btn-lg btn-outline-warning" type="reset">Сбросить</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="accordion_heading_4">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion_collapse_4"
                    aria-expanded="false"
                    aria-controls="accordion_collapse_4"
                >форма для присоединения/отсоединения пользователя к группе</button>
            </h2>
            <div
                id="accordion_collapse_4"
                class="accordion-collapse collapse"
                aria-labelledby="accordion_collapse_4"
                data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">

                    <form action="{% url 'account_change_groups' %}"
                          method="POST"
                          target="_self"
                          enctype="multipart/form-data"
                          name="account_create_accounts one"
                          autocomplete="on"
                          class="text-center"
                    >
                        {% csrf_token %}
                        <div>
                            <label class="form-control-lg">
                                Выберите пользователя, которого нужно присоединить к группе:
                                <select type="select"
                                        id="username"
                                        name="username"
                                        required=""
{#                                        size="3"#}
{#                                        multiple="multiple"#}
                                        class="form-control form-control-lg"
                                >
                                    <option selected disabled>Выберите пользователя</option>
                                    {% for user in users %}
                                        <option value="{{ user.user_foreign_key_field.username }}">{{ user.last_name_char_field }} {{ user.first_name_char_field }} {{ user.patronymic_char_field }}</option>
                                    {% endfor %}
                                </select>
                                <small class="text-muted">нажмите и выберите один из элементов из выпадающего списка</small>
                            </label>
                            <label class="form-control-lg">
                                Выберите группу, к которой нужно присоединить пользователя:
                                <select type="select"
                                        id="group"
                                        name="group"
                                        required=""
{#                                        size="3"#}
{#                                        multiple="multiple"#}
                                        class="form-control form-control-lg"
                                >
                                    <option selected disabled>Выберите группу</option>
                                    {% for group in groups %}
                                        <option value="{{ group.name_slug_field }}">{{ group.name_char_field }} [{{ group.name_slug_field }}]</option>
                                    {% endfor %}
                                </select>
                                <small class="text-muted">нажмите и выберите один из элементов из выпадающего списка</small>
                            </label>
                            <label class="form-control-lg">
                                Выберите тип:
                                <select type="select"
                                        id="type_select"
                                        name="type_select"
                                        required=""
{#                                        size="3"#}
{#                                        multiple="multiple"#}
                                        class="form-control form-control-lg"
                                >
                                    <option value="add">Присоединить</option>
                                    <option value="remove">Отсоединить</option>
                                </select>
                                <small class="text-muted">нажмите и выберите один из элементов из выпадающего списка</small>
                            </label>
                        </div>
                        <hr/>
                        <div class="container-fluid text-center">
                            <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                                <li class="m-1">
                                    <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>
                                </li>
                                <li class="m-1">
                                    <button class="btn btn-lg btn-outline-warning" type="reset">Сбросить</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}