{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Сгенерировать пароли
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
    Сгенерировать пароли
{% endblock header %}

<!-- Description -->
{% block description %}
    Эта страница содержит форму для генерации паролей.
{% endblock description %}

<!-- Main -->
{% block main %}



{% if response == 1 %}

    {% include 'components/success.html' %}

    <div class="text-center m-1">
        <a class="btn btn-lg btn-outline-success"
           href="{% static 'media/admin/account/generate_passwords.xlsx' %}"
        >Скачать результат</a>
    </div>

    {% if data %}

        {% include 'components/table.html' %}

    {% else %}

        {% include 'components/aborted.html' %}

    {% endif %}

{% elif response == -1 %}

    {% include 'components/aborted.html' %}

{% else %}

    <div class="container">
        <form action="{% url 'account_generate_passwords' %}"
              method="POST"
              target="_self"
              enctype="multipart/form-data"
              name="account_generate_passwords"
              autocomplete="on"
              class="text-center"
        >
            {% csrf_token %}
            <div>
                <div>
                    <label class="form-control-lg m-1">
                        Разрешённые символы для генерации:
                        <input type="text"
                               id="passwords_chars"
                               name="passwords_chars"
                               required=""
                               placeholder="abcdefghijklnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
                               value="abcdefghijklnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
                               minlength="1"
                               maxlength="64"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">количество: от 1 до 64 символов</small>
                    </label>
                </div>
                <div>
                    <label class="form-control-lg m-1">
                        Введите количество генерируемых паролей:
                        <input type="number"
                               id="passwords_quantity"
                               name="passwords_quantity"
                               required=""
                               placeholder="1"
                               value="1"
                               minlength="1"
                               maxlength="3000"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">количество: от 1 до 3000 штук</small>
                    </label>

                    <label class="form-control-lg m-1">
                        Введите длину генерируемых паролей:
                        <input type="number"
                               id="passwords_length"
                               name="passwords_length"
                               required=""
                               placeholder="8"
                               value="8"
                               minlength="8"
                               maxlength="16"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">длина: от 8 до 16 символов</small>
                    </label>
                </div>
            </div>
            <hr/>
            <div class="container-fluid btn-group row m-1">
                <div class="col-lg-6">
                    <button href=""
                            type="submit"
                            class="w-100 form-control btn btn-lg btn-outline-primary"
                    >Подтвердить</button>
                </div>

                <div class="col-lg-6">
                    <button href=""
                            type="reset"
                            class="w-100 form-control btn btn-lg btn-outline-warning"
                    >Сбросить</button>
                </div>
            </div>
        </form>
    </div>

{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}






