{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Изменить пароль
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
    Изменить пароль
{% endblock header %}

<!-- Description -->
{% block description %}
    Эта страница содержит форму для изменения пароля пользователя.
{% endblock description %}

<!-- Main -->
{% block main %}



{% if response == 1 %}

    {% include 'components/success.html' %}

{% elif response == -1 %}

    {% include 'components/aborted.html' %}

{% else %}

    <div class="container">
        <form action="{% url 'account_change_password' %}"
              method="POST"
              target="_self"
              enctype="multipart/form-data"
              name="account_change_password"
              autocomplete="on"
              class="text-center"
        >
            {% csrf_token %}
            <div>
                <div>
                    <label class="form-control-lg">
                        Введите новый пароль для входа в аккаунт:
                        <input type="password"
                               id="password_1"
                               name="password_1"
                               required=""
                               {% if user_model.password_slug_field %}
                                    placeholder="{{ user_model.password_slug_field }}"
                               {% else %}
                                    placeholder=""
                               {% endif %}
                               {% if user_model.password_slug_field %}
                                    value="{{ user_model.password_slug_field }}"
                               {% else %}
                                    value=""
                               {% endif %}
                               minlength="8"
                               maxlength="16"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">пароль: от 8 до 16 символов</small>
                    </label>

                    <label class="form-control-lg">
                        Повторите новый пароль:
                        <input type="password"
                               id="password_2"
                               name="password_2"
                               required=""
                               {% if user_model.password_slug_field %}
                                    placeholder="{{ user_model.password_slug_field }}"
                               {% else %}
                                    placeholder=""
                               {% endif %}
                               {% if user_model.password_slug_field %}
                                    value="{{ user_model.password_slug_field }}"
                               {% else %}
                                    value=""
                               {% endif %}
                               minlength="8"
                               maxlength="16"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">пароль: от 8 до 16 символов</small>
                    </label>
                </div>

                <div>
                    <label class="form-control-lg">
                        Электронная почта для восстановления аккаунта:
                        <input type="email"
                               id="email"
                               name="email"
                               required=""
                               {% if user_model.email_field %}
                                    placeholder="{{ user_model.email_field }}"
                               {% else %}
                                    placeholder=""
                               {% endif %}
                               {% if user_model.email_field %}
                                    value="{{ user_model.email_field }}"
                               {% else %}
                                    value=""
                               {% endif %}
                               minlength="1"
                               maxlength="64"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">пример: andrienko.1997@list.ru</small>
                    </label>
                </div>

                <div>
                    <label class="form-control-lg">
                        Секретный вопрос, для восстановления аккаунта:
                        <input type="text"
                               id="secret_question"
                               name="secret_question"
                               required=""
                               {% if user_model.secret_question_char_field %}
                                    placeholder="{{ user_model.secret_question_char_field }}"
                               {% else %}
                                    placeholder=""
                               {% endif %}
                               {% if user_model.secret_question_char_field %}
                                    value="{{ user_model.secret_question_char_field }}"
                               {% else %}
                                    value=""
                               {% endif %}
                               minlength="4"
                               maxlength="30"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">вопрос: длина от 4 до 30 символов</small>
                    </label>

                    <label class="form-control-lg">
                        Ответ на секретный вопрос:
                        <input type="text"
                               id="secret_answer"
                               name="secret_answer"
                               required=""
                               {% if user_model.secret_answer_char_field %}
                                    placeholder="{{ user_model.secret_answer_char_field }}"
                               {% else %}
                                    placeholder=""
                               {% endif %}
                               {% if user_model.secret_answer_char_field %}
                                    value="{{ user_model.secret_answer_char_field }}"
                               {% else %}
                                    value=""
                               {% endif %}
                               minlength="1"
                               maxlength="20"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">ответ: длина от 1 до 20 символов</small>
                    </label>
                </div>
            </div>
            <hr/>
            <div class="container text-center">
                <ul class="container-fluid btn-group row nav row-cols-auto row-cols-md-auto row-cols-lg-auto justify-content-center">
                    <div class="m-1">
                        <button href=""
                                type="submit"
                                class="btn btn-lg btn-outline-primary form-control"
                        >Подтвердить</button>
                    </div>

                    <div class="m-1">
                        <button href=""
                                type="reset"
                                class="btn btn-lg btn-outline-warning form-control"
                        >Сбросить</button>
                    </div>
                </ul>
            </div>
        </form>
    </div>

{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}