{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Показать логи системы
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}
    Показать логи системы
{% endblock header %}

<!-- Description -->
{% block description %}
    Эта страница содержит форму для показа и выгрузки логов действий и ошибок.
{% endblock description %}

<!-- Main -->
{% block main %}



{% if response == 1 %}

    {% include 'components/success.html' %}

    <div class="text-center m-1">
        <a class="btn btn-lg btn-outline-success"
           href="{% static 'media/data/logging/logging.xlsx' %}"
        >Скачать результат</a>
    </div>

    {% if data %}

        {% include 'components/table.html' %}

    {% else %}

        {% include 'components/aborted.html' %}

    {% endif %}

{% elif response == -1 %}

    {% include 'components/aborted.html' %}

{% else %}

    <div class="container">
        <form action="{% url 'logging' %}"
              method="POST"
              target="_self"
              enctype="multipart/form-data"
              name="account_generate_passwords"
              autocomplete="on"
              class="text-center"
        >
            {% csrf_token %}
            <div>
                <div>
                    <label class="form-check-label form-control-lg m-1" for="checkbox_start">
                        Ограничить начало диапазона?
                        <div class="form-switch">
                            <input type="checkbox"
                                   id="checkbox_start"
                                   name="checkbox_start"
    {#                               required=""#}
                                   value=""
    {#                               checked="checked"#}
                                   class="form-check-input"
                            />
                        </div>
                        <small class="text-muted">если стоит отметка, то данные выгружаются от этого периода</small>
                    </label>

                    <label class="form-control-lg m-1">
                        Время начала диапазона
                        <input type="datetime-local"
                               id="datetime-local_start"
                               name="datetime_start"
                               required=""
                               placeholder=""
                               value="2021-06-01T00:00"
                               min="2021-01-01T00:00"
                               max="2021-12-31T23:59"
                               pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">введите дату от которой надо выгрузить данные, например: 1 июня 2021</small>
                    </label>
                </div>

                <div>
                    <label class="form-check-label form-control-lg m-1" for="checkbox_start">
                        Ограничить конец диапазона?
                        <div class="form-switch">
                            <input type="checkbox"
                                   id="checkbox_end"
                                   name="checkbox_end"
    {#                               required=""#}
                                   value=""
    {#                               checked="checked"#}
                                   class="form-check-input"
                            />
                        </div>
                        <small class="text-muted">если стоит отметка, то данные выгружаются до этого периода</small>
                    </label>

                    <label class="form-control-lg m-1">
                        Время окончания диапазона
                        <input type="datetime-local"
                               id="datetime-local_start"
                               name="datetime_end"
                               required=""
                               placeholder=""
                               value="2021-12-31T00:00"
                               min="2021-01-01T00:00"
                               max="2021-12-31T23:59"
                               pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">введите дату до которой надо выгрузить данные, например: 31 декабря 2021</small>
                    </label>
                </div>
                <div>
                    <label class="form-control-lg m-1">
                        Имя пользователя:
                        <input type="text"
                               id="username_slug_field"
                               name="username_slug_field"
    {#                           required=""#}
                               placeholder="970801351179"
                               value=""
                               minlength="0"
                               maxlength="12"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">количество символов: от 0 до 12 символов</small>
                    </label>

                    <label class="form-control-lg m-1">
                        Ip адрес клиента:
                        <input type="text"
                               id="ip_genericipaddress_field"
                               name="ip_genericipaddress_field"
    {#                           required=""#}
                               placeholder="192.168.1.68"
                               value=""
                               minlength="0"
                               maxlength="12"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">количество символов: от 0 до 12 символов</small>
                    </label>
                </div>
                <div>
                    <label class="form-control-lg m-1">
                        Действие пользователя:
                        <input type="text"
                               id="request_path_slug_field"
                               name="request_path_slug_field"
    {#                           required=""#}
                               placeholder="/home/"
                               value=""
                               minlength="0"
                               maxlength="128"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">количество символов: от 0 до 128 символов</small>
                    </label>

                    <label class="form-control-lg m-1">
                        Метод запроса:
                        <input type="text"
                               id="request_method_slug_field"
                               name="request_method_slug_field"
    {#                           required=""#}
                               placeholder="GET"
                               value=""
                               minlength="0"
                               maxlength="4"
                               class="form-control form-control-lg"
                        />
                        <small class="text-muted">количество символов: от 0 до 4 символов (GET/POST)</small>
                    </label>
                </div>
                <div>
                    <label class="form-control form-control-lg m-1">
                        Текст ошибки и/или исключения:
                        <textarea type="text"
                                  id="error_text_field"
                                  name="error_text_field"
    {#                              required=""#}
                                  placeholder="successful"
                                  minlength="0"
                                  maxlength="512"
                                  rows="1"
                                  class="form-control form-control-lg text-center"
                        ></textarea>
                        <small class="text-muted">количество символов: от 0 до 512 символов</small>
                    </label>
                </div>
            </div>
            <hr/>
            <div class="container text-center">
                <ul class="container-fluid btn-group row nav row-cols-auto row-cols-md-auto row-cols-lg-auto justify-content-center">
                    <div class="m-1">
                        <button href=""
                                type="submit"
                                class="btn btn-lg btn-outline-primary form-control"
                        >Подтвердить</button>
                    </div>

                    <div class="m-1">
                        <button href=""
                                type="reset"
                                class="btn btn-lg btn-outline-warning form-control"
                        >Сбросить</button>
                    </div>
                </ul>
            </div>
        </form>
    </div>

{% endif %}



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}






