{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Сгенерировать пароль для аккаунта
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}

<div>
    <br>
    <h1 class="product_title text-center">
    Сгенерировать пароль для аккаунта
    </h1>
    <br>
    <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
        <br>
        <div class="d-flex m-1 p-1">
            <p>Введит данные и нажмите, чтобы сгенерировать пароль для аккаунта:</p>
        </div>

        {% if result_generate_password %}
            <br>
            <div class="d-flex m-1 p-1">
                <p>Пароль успешно сгенерирован, скопируйте его в строке ниже!</p>
            </div>
            <br>
            <p class="text-danger text-decoration-underline">{{result_generate_password}}</p>
            <a class="btn btn-outline-secondary" href="{% url 'app_km:generate_password' %}">Сгенерировать ещё раз</a>
            <br>
        {% else %}
            <form class="form-control" action="{% url 'app_km:generate_password' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <input class="form-control" type="text" required="" placeholder="Пароль для шифрования" name="password">
                <br>
                <div class="btn-group form-control">
                    <button class="btn btn-lg btn-outline-primary" type="submit">Выгрузить</button>
                </div>
            </form>
        {% endif %}
    </div>
</div>

{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}