{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Проходы
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<main class="container">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Выгрузить проходы по электронным проходным.</h1>
        <p class="lead">Эта страница содержит информацию о превышении температуры.</p>
        <div class="d-block">
            <form class="form-control" action="{% url 'app_km:passages' %}" method="POST">
                {% csrf_token %}
                <input class="form-control" type="number" required="" placeholder="931777" value="931777" name="personid">
                <br>
                <input type="checkbox" id="scales" name="check"><strong>    Ограничить по дате и времени?</strong>
                <br>
                <input class="form-control" type="datetime-local" required="" placeholder="" value="2021-10-28T12:00" name="date"><br>
                <br>

                <br>
                <label for="party">Запись по id, дате и времени, которую необходимо изменить:</label>
                <input class="form-control" type="datetime-local" required="" placeholder="" value="2021-10-28T12:00" name="date_old"><br>
                <br>

                <br>
                <label for="party">Новые дата и время, которые необходимо установить:</label>
                <input class="form-control" type="datetime-local" required="" placeholder="" value="2021-10-28T12:00" name="date_new"><br>
                <br>

                <button class="btn btn-lg btn-outline-primary form-control" type="submit">Получить данные термометрии</button>
            </form>
        </div>
    </div>

    {% if data %}
        <div class="pricing-header px-2 py-2 pt-md-2 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Текущие данные.</h1>
            <p class="lead">Ниже расположены данные, соответствующие текущему значению.</p>
            <div class="d-block">
                <div class="border-dark table-bordered">
                    <table class="table table-bordered border-dark table-striped table-hover table-responsive col-form-label-lg table-sm">
{#                        <p class="text-decoration-underline">#}
{#                            {{ arr_1.0 }}#}
{#                        </p>#}
                        <thead>
                            <tr>
                                {% for arr_2 in data.0 %}
                                    {% if forloop.counter == 2 %}
                                        <th width="480">{{ arr_2 }}</th>
                                    {% elif forloop.counter == 3 %}
                                        <th width="480">{{ arr_2 }}</th>
                                    {% else %}
                                        <th>{{ arr_2 }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for arr_1 in data.1 %}
                                <tr>
                                    {% for arr_2 in arr_1 %}
                                        <td>
                                            {{ arr_2 }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}



</main>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}