<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock title %}</title>
    <!-- Style -->
    {% block style %}{% endblock style %}        
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}"/>
    <!-- Not Optimizated Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap_5.0.0/bootstrap.css' %}">
    <!-- Optimizated Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap_5.0.0/bootstrap.min.css' %}"> -->
</head>
<body class="bg-dark">
    {% include 'components/navbar.html' %}
    <div class="container-fluid bg-white border-bottom shadow-sm">
        <hr>
        {% block content %}Пусто{% endblock content %}
        <hr>
      </div>
    
    {% include 'components/footer.html' %}
    <!-- Script -->
    {% block script %}{% endblock script %}
    <!-- Not Optimizated Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap_5.0.0/bootstrap.js' %}"></script>
    <!-- Optimizated Bootstrap JavaScript -->
    <!-- <script src="{% static 'js/bootstrap_5.0.0/bootstrap.min.js' %}"></script> -->  
</body>
</html>