{% extends "blog_base.html" %}
{% load static %}

<!-- Title -->
{% block title %}{{ article.article_title }}{% endblock title %}

<!-- Main -->
{% block content %}
{% if article %}
    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
          <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ article.article_title }}</h1>
            <p class="lead my-3">{{ article.article_text }}</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">{{ article.article_pub_date }}</a></p>
          </div>
        </div>
    </main>

    {% if latest_comments_list %}
    {% for c in latest_comments_list %}
        <p class="">
            <strong class=""></strong>
            <p class=""></p>
        </p class="">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">{{c.author_name}}</strong>
                <h3 class="mb-0">{{c.comment_text}}</h3>
                <div class="mb-1 text-muted">Nov 11</div>
            </div>
        </div>
    {% endfor %}
    {% else %}
    Комментарии не найдены
    {% endif %}
    <hr>
    

    <form class="form-control" action="{% url 'leave_comment' article.id %}" method="POST">

        {% csrf_token %}
        
        <input class="form-control" type="text" required="" placeholder="Ваше имя" name="name"><br>
        <textarea class="form-control" name="text" required="" placeholder="Ваш комментарий" cols="30" rows="10"></textarea><br>
        <button class="btn btn-primary" type="submit">Оставить комментарий</button>

    </form>

{% else %}
Статьи не найдены
{% endif %}
{% endblock content %}
