{% load static %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner container justify-content-center align-self-center">
    <div class="carousel-item active">
        <img src="{% static 'images/single-post-pic.jpg' %}" class="img-fluid img-thumbnail" alt="{{ contact.contact_name }}">            
        <div class="container">
        <div class="carousel-caption text-start">
            <h1>Доверие</h1>
            <p>Доверие Доверие Доверие Доверие</p>
            <p><a class="btn btn-lg btn-primary" href="#">Доверие</a></p>
        </div>
        </div>
    </div>
    <div class="carousel-item">
        <img src="{% static 'images/single-post-pic2.jpg' %}" class="img-fluid img-thumbnail" alt="{{ contact.contact_name }}">            
        <div class="container">
        <div class="carousel-caption">
            <h1>Инновационность</h1>
            <p>Инновационность Инновационность Инновационность Инновационность</p>
            <p><a class="btn btn-lg btn-primary" href="#">Инновационность</a></p>
        </div>
        </div>
    </div>
    <div class="carousel-item">
        <img src="{% static 'images/banner.jpg' %}" class="img-fluid img-thumbnail" alt="{{ contact.contact_name }}">            
        <div class="container">
        <div class="carousel-caption text-end">
            <h1>Совершенствование</h1>
            <p>Совершенствование Совершенствование Совершенствование Совершенствование</p>
            <p><a class="btn btn-lg btn-primary" href="#">Совершенствование</a></p>
        </div>
        </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>