{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Выгрузить пользователей системы
{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}

<div>
    <br>
    <h1 class="product_title text-center">
    Выгрузить пользователей
    </h1>
    <br>
    <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
        <br>
        <div class="d-flex m-1 p-1">
            <p>Нажмите, чтобы выгрузить файл с пользователями, а затем нажмите, чтобы скачать его:</p>
        </div>

    {% if result_export_users %}
        <br>
        <div class="d-flex m-1 p-1">
            <p>Пользователи успешно выгружены, нажмите ниже, чтобы скачать!</p>
        </div>
        <br>
        <a class="btn btn-dark" href="{% static 'media/data/accounts/export_users.xlsx' %}">Скачать результат выгрузки</a>
        <a class="btn btn-outline-secondary" href="{% url 'app_account:export_users' %}">Выгрузить ещё раз</a>
        <br>
    {% else %}
        <form class="form-control" action="{% url 'app_account:export_users' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            <div class="btn-group form-control">
                <button class="btn btn-lg btn-outline-primary" type="submit">Выгрузить</button>
            </div>
        </form>
    {% endif %}
</div>

{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}