{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Создать рационализаторское предложение
{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<form class="form-control" action="{% url 'rational_create' %}" method="POST">
    {% csrf_token %}
    <input class="form-control" type="text" required="" placeholder="название статьи" name="rational_name"><br>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="category_name" required="">
        <option selected value=''>Нажмите сюда и выберите категорию из списка</option>
        {% for LOOP in category %}
            <option>{{ LOOP.category_name }}</option>
        {% endfor %}
    </select>
    {{ post_form.media }}
    {{ post_form.as_p }}
    <br>
    <div class="btn-group form-control">
        <button class="btn btn-lg btn-outline-primary" type="submit">Создать статью</button>
        <a class="btn btn-lg btn-outline-primary" href="{% url 'rational' %}">Все новости</a>
    </div>
</form>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}