{% if rational %}
<div class="row row-cols-1 row-cols-md-3 text-center">
    {% for LOOP in contacts %}
    {{ contact.full_name|upper }}<br />
    <div class="col my-2">
        <div class="card shadow-sm">
            <div class="card-header m-0 p-1">
                <h4 class="fw-normal card-header bg-light text-dark text-decoration-none"><strong>{{ LOOP.rational_name }}</strong></h4>
            </div>
            <div class="card-body m-0 p-1">
                <a href="{% url 'rational_detail' LOOP.id %}">
                    {% if LOOP.rational_addition_image %}
                        <img src="{{ LOOP.rational_addition_image.url }}" class="bd-placeholder-img card-img-top featurette-image img-fluid mx-auto" width="" height="20" alt="{{ LOOP.rational_name }}">
                    {% else %}
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text class="justify-content-center" x="10%" y="50%" fill="#eceeef" dy=".1em">{{ LOOP.rational_name }}</text></svg>
                    {% endif %}
                </a>
                <div class="my-1 d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <small class="my-1 btn btn-sm btn-outline-dark text-link-dark">{{ LOOP.rational_autor_name }}</small>
                        {% if 0 > LOOP.get_total_rating %}
                            <div class="m-sm-1 btn btn-sm btn-outline-danger text-link-danger">{{ LOOP.get_total_rating }}<sup class="text-muted">{{ LOOP.get_total_rating_value }}</sup></div>
                        {% else %}
                            <div class="m-sm-1 btn btn-sm btn-outline-success text-link-success">{{ LOOP.get_total_rating }}<sup class="text-muted">{{ LOOP.get_total_rating_value }}</sup></div>
                        {% endif %}
                        <div class="m-sm-0 btn btn-sm btn-outline-secondary text-link-light">{{ LOOP.get_total_comment_value }}</div>
                    </div>
                    <small class="text-muted">{{ LOOP.rational_date_registrated }}</small>
                    <small>#{{ forloop.revcounter }}</small>
                </div>
                <a class="w-100 btn btn-lg btn-outline-primary" href="{% url 'rational_detail' LOOP.id %}">Подробнее</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% else %} 
    Предложения не найдены :( 
{% endif %}