{% extends "components/base.html" %} {% load static %}

<!-- Head -->
{% block head %} {% include 'components/navbar.html' %} {% endblock head %}

<!-- Title -->
{% block title %}Все рационализаторские предложения{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}


<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Рационализаторские Предложения</h1>
        <p class="lead">Эта страница содержит список всех рационализаторских предложений, отсортированных в порядке убывания по добавлению.</p>
        <div class="d-flex justify-content-between align-items-center btn-group">
            <a class="w-100 btn btn-lg btn-outline-primary" href="{% url 'rational_create' %}">Добавить предложение</a>
        </div>
        <div class="btn-group m-1">
            <form class="d-flex mx-5" action="{% url 'rational' %}" method="POST">
                {% csrf_token %}
                <input class="form-control" name="search_text" type="text" placeholder="Вводить сюда" aria-label="Что ищем?" required="">
                <button class="form-control btn btn-lg btn-secondary" type="submit">Найти</button>
            </form> 
            <a class="btn btn-lg btn-outline-primary" href="{% url 'rational' %}">Все предложения</a> 
            {% for forloop_2 in category %} 
                {% if forloop.counter == 1 %}
                    <a class="btn btn-lg btn-outline-success" href="{% url 'rational_by_category' forloop_2.slug %}">{{ forloop_2.name }}</a> 
                {% endif %} 
                {% if forloop.counter == 2 %}
                    <a class="btn btn-lg btn-outline-info" href="{% url 'rational_by_category' forloop_2.slug %}">{{ forloop_2.name }}</a> 
                {% endif %}
                {% if forloop.counter == 3 %}
                    <a class="btn btn-lg btn-outline-danger" href="{% url 'rational_by_category' forloop_2.slug %}">{{ forloop_2.name }}</a>
                {% endif %}
                {% if forloop.counter == 4 %}
                    <a class="btn btn-lg btn-outline-secondary" href="{% url 'rational_by_category' forloop_2.slug %}">{{ forloop_2.name }}</a>
                {% endif %}
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if contacts.has_previous %}
                        <a href="?page={{ contacts.previous_page_number }}">предыдущая</a>
                    {% endif %}

                    <span class="current">
                        Страница {{ contacts.number }} из {{ contacts.paginator.num_pages }}.
                    </span>

                    {% if contacts.has_next %}
                        <a href="?page={{ contacts.next_page_number }}">следующая</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>


    {% if rational %}
    <div class="row row-cols-1 row-cols-md-3 text-center">
        {% for forloop_2 in contacts %}
        {# Each "contact" is a Contact model object. #}
        {{ contact.full_name|upper }}<br />
        <div class="col my-2">
            <div class="card shadow-sm">
                <div class="card-header m-0 p-1">
                    <h4 class="fw-normal card-header bg-light text-dark text-decoration-none"><strong>{{ forloop_2.rational_name }}</strong></h4>
                </div>
                <div class="card-body m-0 p-1">
                    <a href="{% url 'rational_detail' forloop_2.id %}">
                        {% if forloop_2.rational_addition_image %}
                            <img src="{{ forloop_2.rational_addition_image.url }}" class="bd-placeholder-img card-img-top featurette-image img-fluid mx-auto" width="" height="20" alt="{{ forloop_2.rational_name }}">
                        {% else %}
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text class="justify-content-center" x="10%" y="50%" fill="#eceeef" dy=".1em">{{ forloop_2.rational_name }}</text></svg>
                        {% endif %}
                    </a>
                    <div class="my-1 d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <small class="my-1 btn btn-sm btn-outline-dark text-link-dark">{{ forloop_2.rational_autor_name }}</small>
                            {% if 0 > forloop_2.get_total_rating %}
                                <div class="m-sm-1 btn btn-sm btn-outline-danger text-link-danger">{{ forloop_2.get_total_rating }}<sup class="text-muted">{{ forloop_2.get_total_rating_value }}</sup></div>
                            {% else %}
                                <div class="m-sm-1 btn btn-sm btn-outline-success text-link-success">{{ forloop_2.get_total_rating }}<sup class="text-muted">{{ forloop_2.get_total_rating_value }}</sup></div>
                            {% endif %}
                            <div class="m-sm-0 btn btn-sm btn-outline-secondary text-link-light">{{ forloop_2.get_total_comment_value }}</div>
                        </div>
                        <small class="text-muted">{{ forloop_2.rational_date_registrated }}</small>
                        <small>#{{ forloop.revcounter }}</small>
                    </div>
                    <a class="w-100 btn btn-lg btn-outline-primary" href="{% url 'rational_detail' forloop_2.id %}">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% else %} 
        Предложения не найдены :( 
    {% endif %}














    {% comment %} {% if rational %}
    <div class="row row-cols-1 row-cols-md-3 text-center">
        {% for forloop_2 in rational %}
        <div class="col my-2">
            <div class="card shadow-sm">
                <div class="card-header m-0 p-1">
                    <h4 class="fw-normal card-header bg-light text-dark text-decoration-none"><strong>{{ forloop_2.rational_name }}</strong></h4>
                </div>
                <div class="card-body m-0 p-1">
                    <a href="{% url 'rational_detail' forloop_2.id %}">
                        {% if forloop_2.rational_addition_image %}
                            <img src="{{ forloop_2.rational_addition_image.url }}" class="bd-placeholder-img card-img-top featurette-image img-fluid mx-auto" width="" height="20" alt="{{ forloop_2.rational_name }}">
                        {% else %}
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text class="justify-content-center" x="10%" y="50%" fill="#eceeef" dy=".1em">{{ forloop_2.rational_name }}</text></svg>
                        {% endif %}
                    </a>
                    <div class="my-1 d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <small class="my-1 btn btn-sm btn-outline-dark text-link-dark">{{ forloop_2.rational_autor_name }}</small>
                            {% if 0 > forloop_2.get_total_rating %}
                                <div class="m-sm-1 btn btn-sm btn-outline-danger text-link-danger">{{ forloop_2.get_total_rating }}<sup class="text-muted">{{ forloop_2.get_total_rating_value }}</sup></div>
                            {% else %}
                                <div class="m-sm-1 btn btn-sm btn-outline-success text-link-success">{{ forloop_2.get_total_rating }}<sup class="text-muted">{{ forloop_2.get_total_rating_value }}</sup></div>
                            {% endif %}
                            <div class="m-sm-0 btn btn-sm btn-outline-secondary text-link-light">{{ forloop_2.get_total_comment_value }}</div>
                        </div>
                        <small class="text-muted">{{ forloop_2.rational_date_registrated }}</small>
                        <small>#{{ forloop.revcounter }}</small>
                    </div>
                    <a class="w-100 btn btn-lg btn-outline-primary" href="{% url 'rational_detail' forloop_2.id %}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %} 
        Предложения не найдены :( 
    {% endif %} {% endcomment %}
</main>



{% endblock main %}

<!-- Footer -->
{% block footer %} {% include 'components/footer.html' %} {% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}