{% extends "components/base.html" %}
{% load static %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}Создать рационализаторское предложение{% endblock title %}

<!-- Style -->
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}
<form class="form-control" action="{% url 'rational_create' %}" method="POST">
    {% csrf_token %}
    <input class="form-control" name="rational_name" type="text" required="" placeholder="название статьи"><br>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" 
        name="rational_structure_from" id="rational_structure_from" required>
        <option selected value=''>Нажмите сюда и выберите из списка</option>
        {% for forloop_2 in category %}
            <option>{{ forloop_2.name }}</option>
        {% endfor %}
        {% comment %} <option>ЭУ</option>
        <option>ГТК</option>
        <option>АТП</option> {% endcomment %}
    </select>
    {{ post_form.media }}
    {{ post_form.as_p }}
    <br>
    <div class="btn-group form-control">
        <button class="btn btn-lg btn-outline-primary" type="submit">Создать статью</button>
        <a class="btn btn-lg btn-outline-primary" href="{% url 'rational' %}">Все новости</a>
    </div>
</form>
{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}