<hr/>
<div class="container">
    <div class="container-fluid">
        <h1 class="display-6 text-center">Данные не получены / операция не выполнена</h1>
        <p class="lead text-center">Данных нет, повторите операцию позднее или ожидайте исправления неполадок</p>
        <div class="container-fluid text-center">
            <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
                <li class="m-1">
                    <a class="btn btn-lg btn-outline-primary" href="{% url 'home' %}">На главную</a>
                </li>
                <li class="m-1">
                    <a class="btn btn-lg btn-outline-warning" href="">Повторить</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr/>