<footer class="container-fluid mt-auto footer page-footer">
    <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">
        <li class="m-1">
            <div class="navbar">
                <a class="btn btn-sm btn-outline-secondary" href="#">В самый верх страницы!</a>
            </div>
        </li>
        <li class="m-1">
            <div class="navbar dropup">
                <a class="dropdown-toggle btn btn-sm btn-outline-primary" role="button" data-bs-toggle="dropdown">Наши Ссылки</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <strong class="dropdown-header">Сайты</strong>
                        <a class="dropdown-item" href="https://km.kz/">km.kz</a>
                        <a class="dropdown-item" href="https://www.km-open.online/">km-open</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Соцсети</strong>
                        <a class="dropdown-item" href="https://www.instagram.com/kostanay_minerals/?igshid=smmei29dpn8h">instagram</a>
                        <a class="dropdown-item" href="https://www.facebook.com/kostmineral/">facebook</a>
                        <a class="dropdown-item" href="https://t.me/kostanayminerals">telegram</a>
                        <a class="dropdown-item" href="https://www.youtube.com/watch?v=GT9q0WWGH44&ab_channel=%D0%9A%D0%BE%D1%81%D1%82%D0%B0%D0%BD%D0%B0%D0%B9%D1%81%D0%BA%D0%B8%D0%B5%D0%9C%D0%B8%D0%BD%D0%B5%D1%80%D0%B0%D0%BB%D1%8B">youtube</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Адрес</strong>
                        <a class="dropdown-item" href="https://www.google.com/maps/place/%D0%9A%D0%BE%D1%81%D1%82%D0%B0%D0%BD%D0%B0%D0%B9%D1%81%D0%BA%D0%B8%D0%B5+%D0%9C%D0%B8%D0%BD%D0%B5%D1%80%D0%B0%D0%BB%D1%8B/@52.1831046,61.1857708,17z/data=!3m1!4b1!4m5!3m4!1s0x43d3248327188171:0x195ab2741ac003fb!8m2!3d52.1831013!4d61.1879595?hl=ru-KG">
                            110700,<br> Республика Казахстан,<br>Костанайская область,<br>г. Житикара,<br>ул. Ленина, 67
                        </a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Тел/факс</strong>
                        <a class="dropdown-item disabled" href="#">8 (714 35) 2-40-30</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Почта</strong>
                        <a class="dropdown-item disabled" href="#">info@km.kz</a>
                        <hr class="dropdown-divider">
                    </li>
                </ul>
            </div>
        </li>
        <li class="m-1">
            <div class="navbar dropup">
                <a class="dropdown-toggle btn btn-sm  btn-outline-danger" role="button" data-bs-toggle="dropdown">По всем вопросам!</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <strong class="dropdown-header">Рабочий номер</strong>
                            <a class="dropdown-item disabled" href="#">12-28</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Сотовый номер</strong>
                            <a class="dropdown-item disabled" href="#">+7 747 261 03 59</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Telegram / WhatsApp</strong>
                            <a class="dropdown-item disabled" href="#">+7 747 261 03 59</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Почта, локальная</strong>
                            <a class="dropdown-item disabled" href="#">Andryenko@km.local</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Почта, глобальная</strong>
                            <a class="dropdown-item disabled" href="#">Andryenko@km.kz</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <strong class="dropdown-header">Почта, личная</strong>
                            <a class="dropdown-item disabled" href="#">bogdandrienko@gmail.com</a>
                        <hr class="dropdown-divider">
                    </li>
                </ul>
            </div>
        </li>
{#        <li class="m-1">#}
{#            <h5 class="text-uppercase">Дополнительная информация</h5>#}
{#            <p>Тут однажды будет умная цитата, а пока иди и займись чем-нибудь.</p>#}
{#        </li>#}
{#    </ul>#}
{#    <div class="footer-copyright text-center">#}
{#      Copyleft © 2021. All rights reserved: GNU General Public License#}
{#    </div>#}
</footer>