{% extends "components/base.html" %}
{% load static %}
{% load access_tag %}

<!-- Head -->
{% block head %}
    {% include 'components/navbar.html' %}
{% endblock head %}

<!-- Title -->
{% block title %}
    Домашняя
{% endblock title %}

<!-- Style -->   
{% block style %}{% endblock style %}

<!-- Header -->
{% block header %}{% endblock header %}

<!-- Main -->
{% block main %}




<div class="text-center">
    <h1 class="display-6 fst-italic">Главная</h1>
    <small class="text-secondary">Главная страница веб-платформы.</small>
</div>

<div class="container-fluid text-center container">
    <a href="{% url 'module_or_component' 'module_module' %}">
        <img src="{% static 'media/admin/module/module.png' %}" class="card-img-top w-auto" alt="id">
    </a>
    <div class="card-body">
        <p class="card-text">Модули.</p>
    </div>
</div>



{% endblock main %}

<!-- Footer -->
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

<!-- Script -->
{% block script %}{% endblock script %}