{% load access_tag %}
<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home' %}">ГЛАВНАЯ</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto">

                {% access_tag 'superuser' as access %}
                {% if access %}
                    <div class="col-md-auto mx-auto d-flex align-items-end">
                        <div class="space-between">
                            <li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
                                <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Development
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                    <li>
                                        <h6 class="dropdown-header">Шаблоны</h6>

                                        {% access_tag 'examples_forms' as access %}
                                        {% if access %}
                                            <a class="dropdown-item" href="{% url 'examples_forms' %}">Формы</a>
                                        {% endif %}

                                        {% access_tag 'example' as access %}
                                        {% if access %}
                                            <a class="dropdown-item" href="{% url 'example' %}">Шаблон</a>
                                        {% endif %}

                                        <a class="dropdown-item disabled" href="{% url 'home' %}">Количество аккаунтов: [{{ notification }}] [ PH context processor ]</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider text-light">
                                    </li>
                                    <li>
                                        <h6 class="dropdown-header">Экстра</h6>

                                        {% access_tag 'geo' as access %}
                                        {% if access %}
                                            <a class="dropdown-item" href="{% url 'geo' %}">Геолокация, устройства: список</a>
                                        {% endif %}

                                        {% access_tag 'analyse' as access %}
                                        {% if access %}
                                            <a class="dropdown-item" href="{% url 'analyse' %}">Машинное зрение: запуск анализа</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </li>
                        </div>
                    </div>
                {% endif %}

				<div class="col-md-auto mx-auto d-flex align-items-end">
					<div class="space-between">
						<li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
							<a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Модератор
							</a>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
								<li>
									<h6 class="dropdown-header">Основной функционал</h6>
									<a class="dropdown-item" href="{% url 'admin' %}">Панель Администрирования</a>

                                    {% access_tag 'logging' as access %}
                                    {% if access %}
									    <a class="dropdown-item" href="{% url 'logging' %}">Логи Системы</a>
                                    {% endif %}
								</li>
								<li>
									<hr class="dropdown-divider text-light">
								</li>
                                <li>
                                    <h6 class="dropdown-header">Аккаунты</h6>

                                    {% access_tag 'account_create_or_change_accounts' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'account_create_or_change_accounts' %}">Создать/изменить пользователей</a>
                                    {% endif %}

                                    {% access_tag 'account_generate_passwords' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'account_generate_passwords' %}">Сгенерировать пароли для аккаунтов</a>
                                    {% endif %}

                                    {% access_tag 'account_export_accounts' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'account_export_accounts' %}">Выгрузить список пользователей</a>
                                    {% endif %}

                                    {% access_tag 'account_update_accounts_1c' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'account_update_accounts_1c' %}">Обновить пользователей из 1С</a>
                                    {% endif %}

                                    {% access_tag 'account_change_groups' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'account_change_groups' %}">Изменить группы пользователей</a>
                                    {% endif %}
                                </li>
							</ul>
						</li>
					</div>
				</div>

				<div class="col-md-auto mx-auto d-flex align-items-end">
					<div class="space-between">
						<li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
							<a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Профиль
							</a>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
								<li>
									<h6 class="dropdown-header">Основной функционал</h6>
									<a class="dropdown-item" href="{% url 'home' %}">Главная страница</a>
									<a class="dropdown-item disabled" href="#">Уведомления</a>
									<a class="dropdown-item disabled" href="#">Достижения</a>
								</li>
								<li>
									<hr class="dropdown-divider text-light">
								</li>
								<li>
									<h6 class="dropdown-header">Аккаунты</h6>

                                    {% access_tag 'account_profile' as account_profile %}
                                    {% if account_profile %}
                                        <a class="dropdown-item" href="{% url 'account_profile' 0 %}">Личный профиль [ {{ request.user.username }} ]</a>
                                    {% endif %}

                                    {% access_tag 'account_change_profile' as account_change_profile %}
                                    {% if account_change_profile %}
                                        <a class="dropdown-item" href="{% url 'account_change_profile' %}">Изменить личный профиль</a>
                                    {% endif %}

                                    {% access_tag 'account_change_password' as account_change_password %}
                                    {% if account_change_password %}
                                        <a class="dropdown-item" href="{% url 'account_change_password' %}">Изменить пароль</a>
                                    {% endif %}

                                    <a class="dropdown-item" href="{% url 'account_recover_password' 'iin' %}">Восстановить пароль</a>

                                    <a class="dropdown-item" href="{% url 'account_login' %}">Войти</a>

                                    {% access_tag 'account_logout' as account_logout %}
                                    {% if account_logout %}
                                        <a class="dropdown-item" href="{% url 'account_logout' %}">Выйти</a>
                                    {% endif %}
								</li>
							</ul>
						</li>
					</div>
				</div>

				<div class="col-md-auto mx-auto d-flex align-items-end">
					<div class="space-between">
						<li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
							<a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Новости
							</a>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
								<li>
									<h6 class="dropdown-header">Новости предприятия:</h6>
									<a class="dropdown-item disabled" href="#">Просмотр</a>
									<a class="dropdown-item disabled" href="#">Поиск</a>
									<a class="dropdown-item disabled" href="#">Предложить</a>
									<a class="dropdown-item disabled" href="#">Зал славы</a>
									<a class="dropdown-item disabled" href="#">Алтын Канат</a>
									<a class="dropdown-item disabled" href="#">Лучшие работники Комбината</a>
								</li>
								<li>
									<hr class="dropdown-divider text-light">
								</li>
								<li>
									<h6 class="dropdown-header">Чат:</h6>
									<a class="dropdown-item disabled" href="#">Общий</a>
									<a class="dropdown-item disabled" href="#">Личный</a>
								</li>
							</ul>
						</li>
					</div>
				</div>

				<div class="col-md-auto mx-auto d-flex align-items-end">
					<div class="space-between">
						<li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
							<a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Развитие
							</a>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
                                <li>
                                    <h6 class="dropdown-header">Банк идей:</h6>
                                    <a class="dropdown-item disabled" href="#">Шаблоны или примеры для банка идей</a>

                                    {% access_tag 'idea_create' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'idea_create' %}">Подать идею в банк идей</a>
                                    {% endif %}

                                    {% access_tag 'idea_list' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'idea_list' %}">Просмотреть идеи в банке идей</a>
                                    {% endif %}

                                    {% access_tag 'idea_rating' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'idea_rating' %}">Рейтинги банка идей</a>
                                    {% endif %}
                                </li>
								<li>
									<hr class="dropdown-divider text-light">
								</li>
                                <li>
                                    <h6 class="dropdown-header">Рационализаторство:</h6>
                                    <a class="dropdown-item disabled" href="#">Шаблоны или примеры рационализаторских предложений</a>
                                    <a class="dropdown-item disabled" href="#">Подать рационализаторское предложение</a>
                                    <a class="dropdown-item disabled" href="#">Все рационализаторские предложения</a>
                                    <a class="dropdown-item disabled" href="#">Рейтинги рационализаторских предложений</a>
                                </li>
								<li>
									<hr class="dropdown-divider text-light">
								</li>
                                <li>
                                    <h6 class="dropdown-header">Проектная деятельность:</h6>
                                    <a class="dropdown-item disabled" href="#">Шаблоны или примеры проектов</a>
                                    <a class="dropdown-item disabled" href="#">Подать проект</a>
                                    <a class="dropdown-item disabled" href="#">Все проекты</a>
                                    <a class="dropdown-item disabled" href="#">Рейтинги проектов</a>
                                </li>
							</ul>
						</li>
					</div>
				</div>

				<div class="col-md-auto mx-auto d-flex align-items-end">
					<div class="space-between">
						<li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
							<a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Бухгалтерия
							</a>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
								<li>
									<h6 class="dropdown-header">Сектор расчёта заработной платы:</h6>

                                    {% access_tag 'salary' as access %}
                                    {% if access %}
									    <a class="dropdown-item" href="{% url 'salary' %}">Выгрузка текущего расчётного листа</a>
                                    {% endif %}
								</li>
							</ul>
						</li>
					</div>
				</div>

				<div class="col-md-auto mx-auto d-flex align-items-end">
					<div class="space-between">
						<li class="navbar navbar-expand-lg navbar-dark dropend bg-dark nav-item font-weight-bold">
							<a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Служба Управления Персоналом
							</a>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="">
								<li>
									<h6 class="dropdown-header">Отдел кадров:</h6>

                                    {% access_tag 'career' as access %}
                                    {% if access %}
									    <a class="dropdown-item" href="{% url 'career' %}">Вакансии</a>
                                    {% endif %}

									<a class="dropdown-item disabled" href="#">Выгрузка отпусков</a>
								</li>
								<li>
									<hr class="dropdown-divider text-light">
								</li>
								<li>
									<h6 class="dropdown-header">Отдел охраны труда</h6>

                                    {% access_tag 'passages_thermometry' as access %}
                                    {% if access %}
									    <a class="dropdown-item" href="{% url 'passages_thermometry' %}">Термометрия</a>
                                    {% endif %}

									<a class="dropdown-item disabled" href="#">Алкометрия</a>
								</li>
								<li>
									<hr class="dropdown-divider text-light">
								</li>
                                <li>
                                    <h6 class="dropdown-header">Отдел труда и заработной платы</h6>

                                    {% access_tag 'passages_select' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'passages_select' %}">Выгрузка данных</a>
                                    {% endif %}

                                    {% access_tag 'passages_update' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'passages_update' %}">Обновление данных</a>
                                    {% endif %}

                                    {% access_tag 'passages_insert' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'passages_insert' %}">Добавление данных</a>
                                    {% endif %}

                                    {% access_tag 'passages_delete' as access %}
                                    {% if access %}
                                        <a class="dropdown-item" href="{% url 'passages_delete' %}">Удаление данных</a>
                                    {% endif %}
                                </li>
							</ul>
						</li>
					</div>
				</div>

				<!-- Btn-Group -->
				<div class="btn-group m-1 p-1">
					{% block second_btn-group %}{% endblock second_btn-group %}
				</div>
			</ul>
		</div>
	</div>
</nav>