<div class="container">
    <h1 class="display-6 text-center">Успешно</h1>
    <p class="lead text-center">Операция успешно выполнена, перейдите на главную или повторите операцию.</p>
    <hr/>
    <div class="text-center">
        <ul class="container-fluid btn-group row nav row-cols-auto row-cols-md-auto row-cols-lg-auto justify-content-center">
            <div class="m-1">
                <a href="{% url 'home' %}"
                        type="button"
                        class="btn btn-lg btn-outline-primary form-control"
                >На главную</a>
            </div>

            <div class="m-1">
                <a href="#"
                        type="button"
                        class="btn btn-lg btn-outline-success form-control"
                >Повторить</a>
            </div>
        </ul>
    </div>
    <hr/>
</div>