{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'logo.png' %}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Веб-платформа АО «Костанайские минералы»"
    />
    <link rel="apple-touch-icon" href="{% static 'logo.png' %}" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <title>АО «Костанайские минералы»</title>
    <script defer="defer" src="/staticroot/js/main.5ace9d30.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.65578247.css' %}">
  </head>
  <body>
  <h1 class="text-danger">123</h1>
  <img class="d-block mx-auto mb-4 img-fluid w-25" src="{% static 'img/error.jpg' %}" alt=""/>
    <noscript
      >Вам нужно активировать JavaScript чтобы запустить это
      веб-приложение.</noscript
    >
    <div id="root"></div>
  </body>
</html>
